insert into STImports([DateCreated],[DateUploaded],[RequestStatus],[StoreId],[TransactionNo],[PhysicalCountType])
select GETDATE(), GETDATE(),2,1,'PC000001',1;
insert into STImportDetails([AllowUpdate],[DateCreated],[ItemId],[SystemCount],[Remarks],[STImportId],PhysicalCount)  
SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,60 FROM ITEMS WHERE Items.Code='AI205' 
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,143 FROM ITEMS WHERE Items.Code='AI206'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,67 FROM ITEMS WHERE Items.Code='AI207'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,59 FROM ITEMS WHERE Items.Code='AI208'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,60 FROM ITEMS WHERE Items.Code='AI209'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,36 FROM ITEMS WHERE Items.Code='AI210'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,59 FROM ITEMS WHERE Items.Code='AI211'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,4 FROM ITEMS WHERE Items.Code='CB8061'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,6 FROM ITEMS WHERE Items.Code='CB8111'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,2 FROM ITEMS WHERE Items.Code='CJ8001'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,81 FROM ITEMS WHERE Items.Code='6186P'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,86 FROM ITEMS WHERE Items.Code='6187P'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,86 FROM ITEMS WHERE Items.Code='6188'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,96 FROM ITEMS WHERE Items.Code='6189'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,84 FROM ITEMS WHERE Items.Code='6190'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,86 FROM ITEMS WHERE Items.Code='6191'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,73 FROM ITEMS WHERE Items.Code='6192'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,63 FROM ITEMS WHERE Items.Code='6194'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,69 FROM ITEMS WHERE Items.Code='6195'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,79 FROM ITEMS WHERE Items.Code='6196'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,73 FROM ITEMS WHERE Items.Code='6197'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,81 FROM ITEMS WHERE Items.Code='631380P'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,10 FROM ITEMS WHERE Items.Code='6500'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,80 FROM ITEMS WHERE Items.Code='A06GZSUR-0WH.M0R'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,1 FROM ITEMS WHERE Items.Code='A6001'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,82 FROM ITEMS WHERE Items.Code='A6003'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,78 FROM ITEMS WHERE Items.Code='ABA6200'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,150 FROM ITEMS WHERE Items.Code='ABA6500'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,77 FROM ITEMS WHERE Items.Code='AK6004'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,72 FROM ITEMS WHERE Items.Code='AK602'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,4 FROM ITEMS WHERE Items.Code='AK603'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,81 FROM ITEMS WHERE Items.Code='AK604'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,60 FROM ITEMS WHERE Items.Code='AK606L'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,81 FROM ITEMS WHERE Items.Code='AK608'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,82 FROM ITEMS WHERE Items.Code='AK611'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,62 FROM ITEMS WHERE Items.Code='AK613'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,4 FROM ITEMS WHERE Items.Code='AK617'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,65 FROM ITEMS WHERE Items.Code='AK6603'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,70 FROM ITEMS WHERE Items.Code='BTN329'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,87 FROM ITEMS WHERE Items.Code='BTS323-MATTE'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,80 FROM ITEMS WHERE Items.Code='BTS328-MATTE'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,81 FROM ITEMS WHERE Items.Code='CB26101'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,14 FROM ITEMS WHERE Items.Code='CB26102'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,80 FROM ITEMS WHERE Items.Code='CB26201'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,76 FROM ITEMS WHERE Items.Code='CB26203'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,91 FROM ITEMS WHERE Items.Code='CB26213'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,67 FROM ITEMS WHERE Items.Code='CB6111'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,12 FROM ITEMS WHERE Items.Code='CB6112'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,7 FROM ITEMS WHERE Items.Code='CB6113'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,71 FROM ITEMS WHERE Items.Code='CE6A01'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,47 FROM ITEMS WHERE Items.Code='CE6A02'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,90 FROM ITEMS WHERE Items.Code='CJ6001'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,1 FROM ITEMS WHERE Items.Code='CJ6003'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,38 FROM ITEMS WHERE Items.Code='CL01'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,7 FROM ITEMS WHERE Items.Code='CL02'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,165 FROM ITEMS WHERE Items.Code='CL04'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,57 FROM ITEMS WHERE Items.Code='CL6B01'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,81 FROM ITEMS WHERE Items.Code='CL6B02'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,87 FROM ITEMS WHERE Items.Code='CL6B03'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,58 FROM ITEMS WHERE Items.Code='G0AC-01QEA'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,73 FROM ITEMS WHERE Items.Code='G0AC-11QEA'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,75 FROM ITEMS WHERE Items.Code='G0AC-21QEA'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,84 FROM ITEMS WHERE Items.Code='G0AC-31QEA'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,2 FROM ITEMS WHERE Items.Code='G0AC-41QEA'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,78 FROM ITEMS WHERE Items.Code='G0AC-51QEA'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,81 FROM ITEMS WHERE Items.Code='G0AC-61QEA'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,85 FROM ITEMS WHERE Items.Code='G0AE-01EA'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,83 FROM ITEMS WHERE Items.Code='G0AE-11EA'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,83 FROM ITEMS WHERE Items.Code='G0AE-21EA'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,81 FROM ITEMS WHERE Items.Code='G0AE-31EA'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,47 FROM ITEMS WHERE Items.Code='G0AE-41EA'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,80 FROM ITEMS WHERE Items.Code='G0AE-51EA'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,81 FROM ITEMS WHERE Items.Code='G0AE-61EA'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,67 FROM ITEMS WHERE Items.Code='G0AM-01PEA'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,74 FROM ITEMS WHERE Items.Code='G0AM-11PEA'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,73 FROM ITEMS WHERE Items.Code='G0AM-21PEA'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,80 FROM ITEMS WHERE Items.Code='G0AM-31PEA'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,75 FROM ITEMS WHERE Items.Code='G0AM-41PEA'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,78 FROM ITEMS WHERE Items.Code='G0AM-51PEA'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,2 FROM ITEMS WHERE Items.Code='G0AM-61PEA'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,67 FROM ITEMS WHERE Items.Code='G0BC-60Q'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,82 FROM ITEMS WHERE Items.Code='G0BC-70QEA'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,80 FROM ITEMS WHERE Items.Code='G0BE-60P'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,118 FROM ITEMS WHERE Items.Code='G0BM-60P'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,78 FROM ITEMS WHERE Items.Code='G0JBC-02Q'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,2 FROM ITEMS WHERE Items.Code='G0SC-03Q'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,70 FROM ITEMS WHERE Items.Code='G0SC-05QEA'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,74 FROM ITEMS WHERE Items.Code='G0SC-06QEA'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,80 FROM ITEMS WHERE Items.Code='G0SM-05PEA'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,3 FROM ITEMS WHERE Items.Code='GOKA-G02AEA'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,7 FROM ITEMS WHERE Items.Code='GOKA-G02BEA'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,7 FROM ITEMS WHERE Items.Code='GOKA-G02EA'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,7 FROM ITEMS WHERE Items.Code='GOKA-G03AEA'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,7 FROM ITEMS WHERE Items.Code='GOKA-G03BEA'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,7 FROM ITEMS WHERE Items.Code='GOKA-G03EA'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,71 FROM ITEMS WHERE Items.Code='I-ME6901'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,135 FROM ITEMS WHERE Items.Code='LF6807'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,81 FROM ITEMS WHERE Items.Code='LM6680'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,86 FROM ITEMS WHERE Items.Code='LM6683'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,29 FROM ITEMS WHERE Items.Code='M61'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,109 FROM ITEMS WHERE Items.Code='M62'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,86 FROM ITEMS WHERE Items.Code='M63'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,82 FROM ITEMS WHERE Items.Code='M64'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,86 FROM ITEMS WHERE Items.Code='M66'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,86 FROM ITEMS WHERE Items.Code='M67'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,48 FROM ITEMS WHERE Items.Code='M68'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,87 FROM ITEMS WHERE Items.Code='M69'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,86 FROM ITEMS WHERE Items.Code='M70'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,78 FROM ITEMS WHERE Items.Code='M71'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,69 FROM ITEMS WHERE Items.Code='M72-7'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,88 FROM ITEMS WHERE Items.Code='M73-7'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,75 FROM ITEMS WHERE Items.Code='M76-4'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,75 FROM ITEMS WHERE Items.Code='M77'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,80 FROM ITEMS WHERE Items.Code='M78'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,77 FROM ITEMS WHERE Items.Code='M79'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,66 FROM ITEMS WHERE Items.Code='M80'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,130 FROM ITEMS WHERE Items.Code='M81'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,45 FROM ITEMS WHERE Items.Code='M82-4'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,65 FROM ITEMS WHERE Items.Code='M83-7'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,80 FROM ITEMS WHERE Items.Code='M84'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,79 FROM ITEMS WHERE Items.Code='M85-4'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,82 FROM ITEMS WHERE Items.Code='M86-6'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,81 FROM ITEMS WHERE Items.Code='M87-4'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,57 FROM ITEMS WHERE Items.Code='M88-7'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,77 FROM ITEMS WHERE Items.Code='M90-7'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,80 FROM ITEMS WHERE Items.Code='M91-4'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,80 FROM ITEMS WHERE Items.Code='M94-6'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,97 FROM ITEMS WHERE Items.Code='ME349'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,78 FROM ITEMS WHERE Items.Code='ME6010'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,80 FROM ITEMS WHERE Items.Code='ME6011'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,82 FROM ITEMS WHERE Items.Code='ME6020'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,9 FROM ITEMS WHERE Items.Code='ME6028'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,77 FROM ITEMS WHERE Items.Code='ME6029'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,43 FROM ITEMS WHERE Items.Code='ME6030'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,26 FROM ITEMS WHERE Items.Code='ME6503'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,5 FROM ITEMS WHERE Items.Code='ME6615'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,88 FROM ITEMS WHERE Items.Code='ME6621'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,72 FROM ITEMS WHERE Items.Code='ME6622'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,87 FROM ITEMS WHERE Items.Code='ME6625H'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,81 FROM ITEMS WHERE Items.Code='MT1'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,80 FROM ITEMS WHERE Items.Code='MT2'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,80 FROM ITEMS WHERE Items.Code='MT3'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,65 FROM ITEMS WHERE Items.Code='MT6001'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,84 FROM ITEMS WHERE Items.Code='MT60122PL1'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,81 FROM ITEMS WHERE Items.Code='MT60132PL1'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,7 FROM ITEMS WHERE Items.Code='V00'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,102 FROM ITEMS WHERE Items.Code='VA'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,31 FROM ITEMS WHERE Items.Code='VB'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,84 FROM ITEMS WHERE Items.Code='VC'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,78 FROM ITEMS WHERE Items.Code='VD'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,76 FROM ITEMS WHERE Items.Code='VE'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,16 FROM ITEMS WHERE Items.Code='VF'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,8 FROM ITEMS WHERE Items.Code='VG'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,3 FROM ITEMS WHERE Items.Code='VH'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,7 FROM ITEMS WHERE Items.Code='VJ'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,80 FROM ITEMS WHERE Items.Code='VK'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,80 FROM ITEMS WHERE Items.Code='A06GZABL-BR0.G0P'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,80 FROM ITEMS WHERE Items.Code='A06GZABL-WH0.G0P'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,69 FROM ITEMS WHERE Items.Code='A06GZGMA-GYO.G0P'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,80 FROM ITEMS WHERE Items.Code='A06GZSMK-WH0.G0P'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,28 FROM ITEMS WHERE Items.Code='ASA5200'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,279 FROM ITEMS WHERE Items.Code='402'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,167 FROM ITEMS WHERE Items.Code='403'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,192 FROM ITEMS WHERE Items.Code='406'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,22 FROM ITEMS WHERE Items.Code='421'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,162 FROM ITEMS WHERE Items.Code='432'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,173 FROM ITEMS WHERE Items.Code='8503-40'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,170 FROM ITEMS WHERE Items.Code='A41'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,205 FROM ITEMS WHERE Items.Code='A42'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,167 FROM ITEMS WHERE Items.Code='A43'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,170 FROM ITEMS WHERE Items.Code='A44'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,205 FROM ITEMS WHERE Items.Code='A46'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,93 FROM ITEMS WHERE Items.Code='A47'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,3191 FROM ITEMS WHERE Items.Code='ASA4200'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,143 FROM ITEMS WHERE Items.Code='ASA4248'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,65 FROM ITEMS WHERE Items.Code='F4040C'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,62 FROM ITEMS WHERE Items.Code='F4040D'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,160 FROM ITEMS WHERE Items.Code='F41'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,6 FROM ITEMS WHERE Items.Code='F42'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,193 FROM ITEMS WHERE Items.Code='F43'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,196 FROM ITEMS WHERE Items.Code='F44'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,188 FROM ITEMS WHERE Items.Code='F45-12'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,166 FROM ITEMS WHERE Items.Code='F46'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,53 FROM ITEMS WHERE Items.Code='I-AI401'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,146 FROM ITEMS WHERE Items.Code='I-AI402'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,6 FROM ITEMS WHERE Items.Code='I-AI403'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,189 FROM ITEMS WHERE Items.Code='S403'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,93 FROM ITEMS WHERE Items.Code='S4040B'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,96 FROM ITEMS WHERE Items.Code='S4040G'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,203 FROM ITEMS WHERE Items.Code='S4040K'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,105 FROM ITEMS WHERE Items.Code='S4040N'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,104 FROM ITEMS WHERE Items.Code='S4040P'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,180 FROM ITEMS WHERE Items.Code='S4040Q'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,86 FROM ITEMS WHERE Items.Code='S4040R'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,96 FROM ITEMS WHERE Items.Code='S4040W'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,90 FROM ITEMS WHERE Items.Code='S4040W-0'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,106 FROM ITEMS WHERE Items.Code='S413'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,198 FROM ITEMS WHERE Items.Code='S414'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,103 FROM ITEMS WHERE Items.Code='S415'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,185 FROM ITEMS WHERE Items.Code='S416'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,188 FROM ITEMS WHERE Items.Code='S417'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,96 FROM ITEMS WHERE Items.Code='S418'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,100 FROM ITEMS WHERE Items.Code='S419'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,103 FROM ITEMS WHERE Items.Code='S420'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,94 FROM ITEMS WHERE Items.Code='S421'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,99 FROM ITEMS WHERE Items.Code='S422'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,145 FROM ITEMS WHERE Items.Code='2-6B60481/BEIGE BAS'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,132 FROM ITEMS WHERE Items.Code='2-6B60481-J1'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,115 FROM ITEMS WHERE Items.Code='3-6E60479'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,141 FROM ITEMS WHERE Items.Code='3-6E60480'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,188 FROM ITEMS WHERE Items.Code='6A60478'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,1 FROM ITEMS WHERE Items.Code='6A60478-J1'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,6 FROM ITEMS WHERE Items.Code='AGA6500C'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,135 FROM ITEMS WHERE Items.Code='AK6004C'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,156 FROM ITEMS WHERE Items.Code='BTN326C'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,154 FROM ITEMS WHERE Items.Code='BTS324C'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,42 FROM ITEMS WHERE Items.Code='CB6113C36'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,77 FROM ITEMS WHERE Items.Code='GQIA62032'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,63 FROM ITEMS WHERE Items.Code='GQIP62017'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,7 FROM ITEMS WHERE Items.Code='I01'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,8 FROM ITEMS WHERE Items.Code='I02'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,132 FROM ITEMS WHERE Items.Code='I-3601'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,150 FROM ITEMS WHERE Items.Code='I-3602'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,139 FROM ITEMS WHERE Items.Code='I-3603'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,1 FROM ITEMS WHERE Items.Code='IQF3606'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,48 FROM ITEMS WHERE Items.Code='KY1 (2-8D60590)'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,48 FROM ITEMS WHERE Items.Code='KY15 (VP-2E60760)'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,60 FROM ITEMS WHERE Items.Code='KY16 (VP-2E60759-K1D'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,59 FROM ITEMS WHERE Items.Code='KY2 (3-8E60591)'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,48 FROM ITEMS WHERE Items.Code='KY3 (3-8E60592)'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,45 FROM ITEMS WHERE Items.Code='KY4 (3-8E60593)'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,48 FROM ITEMS WHERE Items.Code='KY5 (2-8E60595)'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,48 FROM ITEMS WHERE Items.Code='KY6 (3-8E60596)'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,72 FROM ITEMS WHERE Items.Code='KY7 (3-6E60609)'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,77 FROM ITEMS WHERE Items.Code='KY8 (3-6E60607)'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,124 FROM ITEMS WHERE Items.Code='MILAN 01'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,2 FROM ITEMS WHERE Items.Code='MILAN 05D'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,162 FROM ITEMS WHERE Items.Code='MILAN 05U'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,174 FROM ITEMS WHERE Items.Code='MILAN 03D'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,9 FROM ITEMS WHERE Items.Code='MILAN 03U'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,133 FROM ITEMS WHERE Items.Code='MILAN 09D'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,87 FROM ITEMS WHERE Items.Code='MILAN 09U'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,10 FROM ITEMS WHERE Items.Code='MILAN 10'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,10 FROM ITEMS WHERE Items.Code='MILAN 11'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,100 FROM ITEMS WHERE Items.Code='MP6351'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,8 FROM ITEMS WHERE Items.Code='Q362'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,292 FROM ITEMS WHERE Items.Code='QF3601'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,2 FROM ITEMS WHERE Items.Code='QF3602'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,143 FROM ITEMS WHERE Items.Code='VLM6680'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,16 FROM ITEMS WHERE Items.Code='Y367A'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,16 FROM ITEMS WHERE Items.Code='Y367B'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,16 FROM ITEMS WHERE Items.Code='Y368A'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,16 FROM ITEMS WHERE Items.Code='Y368B'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,1 FROM ITEMS WHERE Items.Code='Y361'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,10 FROM ITEMS WHERE Items.Code='Y362'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,61 FROM ITEMS WHERE Items.Code='Y363'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,42 FROM ITEMS WHERE Items.Code='Y365'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,80 FROM ITEMS WHERE Items.Code='01-ROMA BASE'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,269 FROM ITEMS WHERE Items.Code='01-0'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,252 FROM ITEMS WHERE Items.Code='21009'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,234 FROM ITEMS WHERE Items.Code='220T'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,4 FROM ITEMS WHERE Items.Code='270T'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,1 FROM ITEMS WHERE Items.Code='280T'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,3 FROM ITEMS WHERE Items.Code='3007'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,216 FROM ITEMS WHERE Items.Code='300T'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,225 FROM ITEMS WHERE Items.Code='306'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,281 FROM ITEMS WHERE Items.Code='310T'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,207 FROM ITEMS WHERE Items.Code='312M'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,228 FROM ITEMS WHERE Items.Code='320T'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,348 FROM ITEMS WHERE Items.Code='3273'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,108 FROM ITEMS WHERE Items.Code='3274'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,226 FROM ITEMS WHERE Items.Code='3275'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,204 FROM ITEMS WHERE Items.Code='330T'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,189 FROM ITEMS WHERE Items.Code='3382'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,4 FROM ITEMS WHERE Items.Code='3383'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,222 FROM ITEMS WHERE Items.Code='3384'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,230 FROM ITEMS WHERE Items.Code='340T'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,1 FROM ITEMS WHERE Items.Code='3431'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,220 FROM ITEMS WHERE Items.Code='3432'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,175 FROM ITEMS WHERE Items.Code='3441'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,218 FROM ITEMS WHERE Items.Code='3443'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,110 FROM ITEMS WHERE Items.Code='A321'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,201 FROM ITEMS WHERE Items.Code='EP94/T3278'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,229 FROM ITEMS WHERE Items.Code='F3032'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,239 FROM ITEMS WHERE Items.Code='F3033'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,230 FROM ITEMS WHERE Items.Code='F3035'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,188 FROM ITEMS WHERE Items.Code='F3038'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,54 FROM ITEMS WHERE Items.Code='E3885'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,209 FROM ITEMS WHERE Items.Code='I-3449-2'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,1 FROM ITEMS WHERE Items.Code='I-3454'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,194 FROM ITEMS WHERE Items.Code='L31'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,191 FROM ITEMS WHERE Items.Code='L32'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,146 FROM ITEMS WHERE Items.Code='L33'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,214 FROM ITEMS WHERE Items.Code='L34'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,216 FROM ITEMS WHERE Items.Code='L35'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,222 FROM ITEMS WHERE Items.Code='L36'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,198 FROM ITEMS WHERE Items.Code='L37'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,207 FROM ITEMS WHERE Items.Code='L38'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,218 FROM ITEMS WHERE Items.Code='L39'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,219 FROM ITEMS WHERE Items.Code='L40'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,216 FROM ITEMS WHERE Items.Code='L41'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,216 FROM ITEMS WHERE Items.Code='L42'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,192 FROM ITEMS WHERE Items.Code='L43'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,91 FROM ITEMS WHERE Items.Code='L44'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,181 FROM ITEMS WHERE Items.Code='L45'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,94 FROM ITEMS WHERE Items.Code='L46'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,93 FROM ITEMS WHERE Items.Code='L47'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,95 FROM ITEMS WHERE Items.Code='L48'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,191 FROM ITEMS WHERE Items.Code='L49'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,88 FROM ITEMS WHERE Items.Code='L50'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,96 FROM ITEMS WHERE Items.Code='L51'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,189 FROM ITEMS WHERE Items.Code='L52'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,197 FROM ITEMS WHERE Items.Code='L53'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,4 FROM ITEMS WHERE Items.Code='140T'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,178 FROM ITEMS WHERE Items.Code='P01'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,92 FROM ITEMS WHERE Items.Code='P02'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,209 FROM ITEMS WHERE Items.Code='P03'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,243 FROM ITEMS WHERE Items.Code='170T'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,492 FROM ITEMS WHERE Items.Code='180T'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,161 FROM ITEMS WHERE Items.Code='S3011'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,203 FROM ITEMS WHERE Items.Code='S3012'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,235 FROM ITEMS WHERE Items.Code='T3271'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,201 FROM ITEMS WHERE Items.Code='T3272'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,79 FROM ITEMS WHERE Items.Code='T3276'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,248 FROM ITEMS WHERE Items.Code='T3306'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,235 FROM ITEMS WHERE Items.Code='T3321'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,28 FROM ITEMS WHERE Items.Code='WP3305'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,108 FROM ITEMS WHERE Items.Code='I-3455-6'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,108 FROM ITEMS WHERE Items.Code='I-3456-6'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,68 FROM ITEMS WHERE Items.Code='I-3461-6'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,108 FROM ITEMS WHERE Items.Code='I-3457-6'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,9 FROM ITEMS WHERE Items.Code='AL-003'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,11 FROM ITEMS WHERE Items.Code='AL-004L'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,26 FROM ITEMS WHERE Items.Code='AL-005'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,32 FROM ITEMS WHERE Items.Code='AL-005L'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,22 FROM ITEMS WHERE Items.Code='AL-006'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,33 FROM ITEMS WHERE Items.Code='AL-006L'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,31 FROM ITEMS WHERE Items.Code='AL-008L'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,32 FROM ITEMS WHERE Items.Code='AL-009L'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,1 FROM ITEMS WHERE Items.Code='AL-010L'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,51 FROM ITEMS WHERE Items.Code='AL1-001'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,60 FROM ITEMS WHERE Items.Code='BD029'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,1 FROM ITEMS WHERE Items.Code='K3062-3'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,23 FROM ITEMS WHERE Items.Code='K3076-3L'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,15 FROM ITEMS WHERE Items.Code='K3740'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,33 FROM ITEMS WHERE Items.Code='K3741'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,3 FROM ITEMS WHERE Items.Code='K3742'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,58 FROM ITEMS WHERE Items.Code='L233-3'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,2 FROM ITEMS WHERE Items.Code='L233-4'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,71 FROM ITEMS WHERE Items.Code='L233-6'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,12 FROM ITEMS WHERE Items.Code='W254-1'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,1 FROM ITEMS WHERE Items.Code='WP3044'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,7 FROM ITEMS WHERE Items.Code='WP3045'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,9 FROM ITEMS WHERE Items.Code='WP3134'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,13 FROM ITEMS WHERE Items.Code='WP3205'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,16 FROM ITEMS WHERE Items.Code='WP3300'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,54 FROM ITEMS WHERE Items.Code='WP3301'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,28 FROM ITEMS WHERE Items.Code='WP3304'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,42 FROM ITEMS WHERE Items.Code='Y2'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,42 FROM ITEMS WHERE Items.Code='Y4'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,29 FROM ITEMS WHERE Items.Code='YF2501'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,44 FROM ITEMS WHERE Items.Code='YF2502'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,13 FROM ITEMS WHERE Items.Code='YF2503'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,66 FROM ITEMS WHERE Items.Code='YF2504'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,33 FROM ITEMS WHERE Items.Code='YF2505'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,36 FROM ITEMS WHERE Items.Code='YF2507'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,1 FROM ITEMS WHERE Items.Code='YF2508'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,19 FROM ITEMS WHERE Items.Code='YF2509'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,33 FROM ITEMS WHERE Items.Code='YF2510'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,64 FROM ITEMS WHERE Items.Code='YF2511'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,5 FROM ITEMS WHERE Items.Code='YF2512'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,6 FROM ITEMS WHERE Items.Code='YFA5'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,25 FROM ITEMS WHERE Items.Code='26W-0'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,152 FROM ITEMS WHERE Items.Code='I-26AD-0'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,170 FROM ITEMS WHERE Items.Code='I-26AU-0'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,289 FROM ITEMS WHERE Items.Code='I-26BCUM-0'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,338 FROM ITEMS WHERE Items.Code='I-26BD-0'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,1 FROM ITEMS WHERE Items.Code='I-26BU-0'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,235 FROM ITEMS WHERE Items.Code='I-26CBM-0'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,295 FROM ITEMS WHERE Items.Code='I-26CDM-0'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,172 FROM ITEMS WHERE Items.Code='I-26DD-0'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,129 FROM ITEMS WHERE Items.Code='I-26DU-0'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,200 FROM ITEMS WHERE Items.Code='S261'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,297 FROM ITEMS WHERE Items.Code='S262'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,177 FROM ITEMS WHERE Items.Code='S264D'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,227 FROM ITEMS WHERE Items.Code='S264U'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,159 FROM ITEMS WHERE Items.Code='S265B'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,246 FROM ITEMS WHERE Items.Code='S265D'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,175 FROM ITEMS WHERE Items.Code='S265U'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,161 FROM ITEMS WHERE Items.Code='S266'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,176 FROM ITEMS WHERE Items.Code='S267'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,146 FROM ITEMS WHERE Items.Code='S268D'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,173 FROM ITEMS WHERE Items.Code='S268U'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,150 FROM ITEMS WHERE Items.Code='S269-0'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,179 FROM ITEMS WHERE Items.Code='S270-0'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,144 FROM ITEMS WHERE Items.Code='Y261'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,138 FROM ITEMS WHERE Items.Code='Y262'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,708 FROM ITEMS WHERE Items.Code='1106'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,588 FROM ITEMS WHERE Items.Code='1206'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,559 FROM ITEMS WHERE Items.Code='180A'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,302 FROM ITEMS WHERE Items.Code='20P-0'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,285 FROM ITEMS WHERE Items.Code='20Q'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,599 FROM ITEMS WHERE Items.Code='20R'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,894 FROM ITEMS WHERE Items.Code='210A'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,598 FROM ITEMS WHERE Items.Code='264A'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,577 FROM ITEMS WHERE Items.Code='264B'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,626 FROM ITEMS WHERE Items.Code='414'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,8 FROM ITEMS WHERE Items.Code='414-0'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,47 FROM ITEMS WHERE Items.Code='9203'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,300 FROM ITEMS WHERE Items.Code='A02RZENR-DBR.G0U'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,300 FROM ITEMS WHERE Items.Code='A02RZENR-DGY.G0U'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,300 FROM ITEMS WHERE Items.Code='A02RZENR-LBR.G0U'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,300 FROM ITEMS WHERE Items.Code='A02RZENR-LGY.G0U'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,100 FROM ITEMS WHERE Items.Code='A02RZMSA-DBR.M0U'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,94 FROM ITEMS WHERE Items.Code='A02RZMSA-GY0.M0U'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,100 FROM ITEMS WHERE Items.Code='A02RZMSA-IV0.M0U'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,100 FROM ITEMS WHERE Items.Code='A02RZMSA-LBR.M0U'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,300 FROM ITEMS WHERE Items.Code='A20RZENR-LGY.M0U'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,329 FROM ITEMS WHERE Items.Code='I-20M'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,1 FROM ITEMS WHERE Items.Code='I-20N'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,577 FROM ITEMS WHERE Items.Code='I-23A'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,588 FROM ITEMS WHERE Items.Code='I-23B'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,136 FROM ITEMS WHERE Items.Code='I-23C'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,514 FROM ITEMS WHERE Items.Code='I-23D'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,718 FROM ITEMS WHERE Items.Code='I-23E'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,368 FROM ITEMS WHERE Items.Code='I-23F'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,479 FROM ITEMS WHERE Items.Code='I-23G'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,855 FROM ITEMS WHERE Items.Code='I-23H'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,431 FROM ITEMS WHERE Items.Code='I-23I'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,555 FROM ITEMS WHERE Items.Code='I-23K'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,566 FROM ITEMS WHERE Items.Code='I-23KM-0'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,572 FROM ITEMS WHERE Items.Code='I-23L'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,637 FROM ITEMS WHERE Items.Code='I-23NM-0'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,583 FROM ITEMS WHERE Items.Code='I-23PM-0'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,300 FROM ITEMS WHERE Items.Code='I-23S'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,300 FROM ITEMS WHERE Items.Code='I-23T'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,84 FROM ITEMS WHERE Items.Code='A23SZCBR-BE0.M2U'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,165 FROM ITEMS WHERE Items.Code='A23SZCBR-BR0.M2U'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,31 FROM ITEMS WHERE Items.Code='A23SZCBR-DGY.M2U'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,83 FROM ITEMS WHERE Items.Code='A23SZCBR-LGY.M2U'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,84 FROM ITEMS WHERE Items.Code='A23SZLNW-BE0.M2U'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,85 FROM ITEMS WHERE Items.Code='A23SZLNW-DBE.M2U'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,50 FROM ITEMS WHERE Items.Code='A23SZLNW-DBR.M2U'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,83 FROM ITEMS WHERE Items.Code='A23SZLNW-IV0.M2U'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,84 FROM ITEMS WHERE Items.Code='A23SZLNW-NU0.M2U'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,162 FROM ITEMS WHERE Items.Code='A23SZPRB-WHO.M0U'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,1 FROM ITEMS WHERE Items.Code='YH1'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,20 FROM ITEMS WHERE Items.Code='YH10'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,6 FROM ITEMS WHERE Items.Code='YH11'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,14 FROM ITEMS WHERE Items.Code='YH12'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,18 FROM ITEMS WHERE Items.Code='YH13'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,20 FROM ITEMS WHERE Items.Code='YH14'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,19 FROM ITEMS WHERE Items.Code='YH15'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,19 FROM ITEMS WHERE Items.Code='YH16'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,20 FROM ITEMS WHERE Items.Code='YH17'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,20 FROM ITEMS WHERE Items.Code='YH18'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,19 FROM ITEMS WHERE Items.Code='YH19'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,35 FROM ITEMS WHERE Items.Code='YH2'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,12 FROM ITEMS WHERE Items.Code='YH20'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,20 FROM ITEMS WHERE Items.Code='YH21'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,3 FROM ITEMS WHERE Items.Code='YH22'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,6 FROM ITEMS WHERE Items.Code='YH23'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,20 FROM ITEMS WHERE Items.Code='YH24'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,3 FROM ITEMS WHERE Items.Code='YH25'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,60 FROM ITEMS WHERE Items.Code='YH26'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,60 FROM ITEMS WHERE Items.Code='YH27'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,3 FROM ITEMS WHERE Items.Code='YH3'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,60 FROM ITEMS WHERE Items.Code='YH33'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,40 FROM ITEMS WHERE Items.Code='YH34 (4IN1)'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,43 FROM ITEMS WHERE Items.Code='YH35'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,34 FROM ITEMS WHERE Items.Code='YH36'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,38 FROM ITEMS WHERE Items.Code='YH37'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,41 FROM ITEMS WHERE Items.Code='YH38'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,5 FROM ITEMS WHERE Items.Code='YH39'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,40 FROM ITEMS WHERE Items.Code='YH4'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,40 FROM ITEMS WHERE Items.Code='YH40'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,42 FROM ITEMS WHERE Items.Code='YH41'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,34 FROM ITEMS WHERE Items.Code='YH42'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,5 FROM ITEMS WHERE Items.Code='YH43'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,40 FROM ITEMS WHERE Items.Code='YH44 (5IN1)'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,20 FROM ITEMS WHERE Items.Code='YH6'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,20 FROM ITEMS WHERE Items.Code='YH7'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,20 FROM ITEMS WHERE Items.Code='YH8'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,20 FROM ITEMS WHERE Items.Code='YH9'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,536 FROM ITEMS WHERE Items.Code='2007'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,1 FROM ITEMS WHERE Items.Code='2013'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,614 FROM ITEMS WHERE Items.Code='2017'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,590 FROM ITEMS WHERE Items.Code='2019'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,267 FROM ITEMS WHERE Items.Code='2020'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,649 FROM ITEMS WHERE Items.Code='2021'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,451 FROM ITEMS WHERE Items.Code='22AB1'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,548 FROM ITEMS WHERE Items.Code='22AW1'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,185 FROM ITEMS WHERE Items.Code='22AW1H-1'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,285 FROM ITEMS WHERE Items.Code='22AW1H-2'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,355 FROM ITEMS WHERE Items.Code='22AW1H-4'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,429 FROM ITEMS WHERE Items.Code='22BC1'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,564 FROM ITEMS WHERE Items.Code='22CL3'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,250 FROM ITEMS WHERE Items.Code='22DH1'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,520 FROM ITEMS WHERE Items.Code='22DM1'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,364 FROM ITEMS WHERE Items.Code='22EK1'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,600 FROM ITEMS WHERE Items.Code='A20RZENR-LBR.M0U'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,597 FROM ITEMS WHERE Items.Code='A20RZMSA-DBR.M0U'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,600 FROM ITEMS WHERE Items.Code='A20RZMSA-GY0.M0U'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,600 FROM ITEMS WHERE Items.Code='A20RZMSA-IV0.M0U'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,469 FROM ITEMS WHERE Items.Code='A20RZMSA-LBR.M0U'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,203 FROM ITEMS WHERE Items.Code='KDY293'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,194 FROM ITEMS WHERE Items.Code='KDY295'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,519 FROM ITEMS WHERE Items.Code='L21'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,30 FROM ITEMS WHERE Items.Code='MC07'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,30 FROM ITEMS WHERE Items.Code='MC12'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,10 FROM ITEMS WHERE Items.Code='MC13'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,481 FROM ITEMS WHERE Items.Code='MC17'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,6 FROM ITEMS WHERE Items.Code='P22-2'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,603 FROM ITEMS WHERE Items.Code='P22-3'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,18 FROM ITEMS WHERE Items.Code='YHG4'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,161 FROM ITEMS WHERE Items.Code='AM1'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,173 FROM ITEMS WHERE Items.Code='AM2'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,167 FROM ITEMS WHERE Items.Code='AM3'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,191 FROM ITEMS WHERE Items.Code='AM4'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,173 FROM ITEMS WHERE Items.Code='AI019/ IA019'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,117 FROM ITEMS WHERE Items.Code='AI024/ IA024'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,141 FROM ITEMS WHERE Items.Code='AI561'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,85 FROM ITEMS WHERE Items.Code='IAI018'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,115 FROM ITEMS WHERE Items.Code='IAI020'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,4 FROM ITEMS WHERE Items.Code='IAI021'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,6 FROM ITEMS WHERE Items.Code='IAI022'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,129 FROM ITEMS WHERE Items.Code='IAI023'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,4 FROM ITEMS WHERE Items.Code='I-AI025'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,110 FROM ITEMS WHERE Items.Code='AI030'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,225 FROM ITEMS WHERE Items.Code='A1'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,213 FROM ITEMS WHERE Items.Code='A2'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,904 FROM ITEMS WHERE Items.Code='A3'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,8 FROM ITEMS WHERE Items.Code='A4'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,213 FROM ITEMS WHERE Items.Code='A5'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,11 FROM ITEMS WHERE Items.Code='A6'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,187 FROM ITEMS WHERE Items.Code='A7'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,1069 FROM ITEMS WHERE Items.Code='12GAB1'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,3 FROM ITEMS WHERE Items.Code='12GAW1'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,923 FROM ITEMS WHERE Items.Code='12GBC1'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,1061 FROM ITEMS WHERE Items.Code='12GCL3'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,1338 FROM ITEMS WHERE Items.Code='12GDH1'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,1166 FROM ITEMS WHERE Items.Code='12GDM1'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,1412 FROM ITEMS WHERE Items.Code='12GEK2'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,20 FROM ITEMS WHERE Items.Code='170AB'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,7 FROM ITEMS WHERE Items.Code='36A'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,42 FROM ITEMS WHERE Items.Code='5601'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,30 FROM ITEMS WHERE Items.Code='63015'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,7 FROM ITEMS WHERE Items.Code='63016'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,39 FROM ITEMS WHERE Items.Code='63017'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,21 FROM ITEMS WHERE Items.Code='63018'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,72 FROM ITEMS WHERE Items.Code='63020'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,1 FROM ITEMS WHERE Items.Code='73016'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,13 FROM ITEMS WHERE Items.Code='8106'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,9 FROM ITEMS WHERE Items.Code='A-02'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,1 FROM ITEMS WHERE Items.Code='A-03'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,4 FROM ITEMS WHERE Items.Code='A-05'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,57 FROM ITEMS WHERE Items.Code='A-07'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,8 FROM ITEMS WHERE Items.Code='A-11'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,76 FROM ITEMS WHERE Items.Code='A-12'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,22 FROM ITEMS WHERE Items.Code='A-13'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,52 FROM ITEMS WHERE Items.Code='A-20'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,4 FROM ITEMS WHERE Items.Code='A-21'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,700 FROM ITEMS WHERE Items.Code='A21SSWIM-LBL.G0U'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,700 FROM ITEMS WHERE Items.Code='A21SSWIM-WH0.G0U'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,1 FROM ITEMS WHERE Items.Code='A-22'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,13 FROM ITEMS WHERE Items.Code='A-23'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,3 FROM ITEMS WHERE Items.Code='A-24'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,32 FROM ITEMS WHERE Items.Code='A-25'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,1 FROM ITEMS WHERE Items.Code='A-26'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,60 FROM ITEMS WHERE Items.Code='A-27'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,80 FROM ITEMS WHERE Items.Code='A-28'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,57 FROM ITEMS WHERE Items.Code='A-30'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,95 FROM ITEMS WHERE Items.Code='A-31'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,1 FROM ITEMS WHERE Items.Code='A-32'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,71 FROM ITEMS WHERE Items.Code='A-33'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,120 FROM ITEMS WHERE Items.Code='A-34'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,1 FROM ITEMS WHERE Items.Code='A-35'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,23 FROM ITEMS WHERE Items.Code='A-36'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,1 FROM ITEMS WHERE Items.Code='A-37'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,1 FROM ITEMS WHERE Items.Code='A-38'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,124 FROM ITEMS WHERE Items.Code='A-39'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,8 FROM ITEMS WHERE Items.Code='A-40'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,30 FROM ITEMS WHERE Items.Code='AC04B'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,154 FROM ITEMS WHERE Items.Code='B3045W-3B'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,7 FROM ITEMS WHERE Items.Code='B530'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,40 FROM ITEMS WHERE Items.Code='B5602'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,37 FROM ITEMS WHERE Items.Code='B5603'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,68 FROM ITEMS WHERE Items.Code='B631'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,23 FROM ITEMS WHERE Items.Code='B632'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,20 FROM ITEMS WHERE Items.Code='B660'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,22 FROM ITEMS WHERE Items.Code='B661'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,20 FROM ITEMS WHERE Items.Code='B665'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,29 FROM ITEMS WHERE Items.Code='B667'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,20 FROM ITEMS WHERE Items.Code='B668'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,5 FROM ITEMS WHERE Items.Code='B669'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,12 FROM ITEMS WHERE Items.Code='B670'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,29 FROM ITEMS WHERE Items.Code='B673'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,33 FROM ITEMS WHERE Items.Code='B7601'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,43 FROM ITEMS WHERE Items.Code='B7602'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,15 FROM ITEMS WHERE Items.Code='B761'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,1 FROM ITEMS WHERE Items.Code='BRAZIL2'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,1 FROM ITEMS WHERE Items.Code='C129'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,5 FROM ITEMS WHERE Items.Code='C506W'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,22 FROM ITEMS WHERE Items.Code='E306'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,29 FROM ITEMS WHERE Items.Code='EC12'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,14 FROM ITEMS WHERE Items.Code='EC13'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,59 FROM ITEMS WHERE Items.Code='EC14'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,7 FROM ITEMS WHERE Items.Code='F345'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,9 FROM ITEMS WHERE Items.Code='S18'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,41 FROM ITEMS WHERE Items.Code='YF1031'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,30 FROM ITEMS WHERE Items.Code='YF1032A'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,30 FROM ITEMS WHERE Items.Code='YF1032B'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,25 FROM ITEMS WHERE Items.Code='YX1'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,20 FROM ITEMS WHERE Items.Code='YX2'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,36 FROM ITEMS WHERE Items.Code='ATT10-GOLD'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,7 FROM ITEMS WHERE Items.Code='TT10-01'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,3 FROM ITEMS WHERE Items.Code='TT10-02'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,39 FROM ITEMS WHERE Items.Code='TT10-03'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,9 FROM ITEMS WHERE Items.Code='TT10-04'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,23 FROM ITEMS WHERE Items.Code='TT10-05'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,23 FROM ITEMS WHERE Items.Code='TT10-06'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,1 FROM ITEMS WHERE Items.Code='TT10-07'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,20 FROM ITEMS WHERE Items.Code='TT10-09'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,22 FROM ITEMS WHERE Items.Code='TT10-10'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,18 FROM ITEMS WHERE Items.Code='TT10-11'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,10 FROM ITEMS WHERE Items.Code='ATT08-SILVER'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,5 FROM ITEMS WHERE Items.Code='ATT08-GOLD'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,20 FROM ITEMS WHERE Items.Code='TT8-01'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,43 FROM ITEMS WHERE Items.Code='TT8-02'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,7 FROM ITEMS WHERE Items.Code='TT8-03'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,12 FROM ITEMS WHERE Items.Code='TT8-04'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,4 FROM ITEMS WHERE Items.Code='TT8-05'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,14 FROM ITEMS WHERE Items.Code='TT8-06'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,20 FROM ITEMS WHERE Items.Code='TT8-07'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,8 FROM ITEMS WHERE Items.Code='TT8-08'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,20 FROM ITEMS WHERE Items.Code='TT8-09'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,20 FROM ITEMS WHERE Items.Code='TT8-10'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,13 FROM ITEMS WHERE Items.Code='6MM BEIGE'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,66 FROM ITEMS WHERE Items.Code='6MM WHITE'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,19 FROM ITEMS WHERE Items.Code='AST27-SILVER'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,20 FROM ITEMS WHERE Items.Code='AST27-GOLD'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,19 FROM ITEMS WHERE Items.Code='AST35-SILVER'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,28 FROM ITEMS WHERE Items.Code='AST35-GOLD'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,4 FROM ITEMS WHERE Items.Code='PST52-01'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,2 FROM ITEMS WHERE Items.Code='PST52-02'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,20 FROM ITEMS WHERE Items.Code='TC-01-2'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,285 FROM ITEMS WHERE Items.Code='TC-01-3'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,110 FROM ITEMS WHERE Items.Code='TC-01-4'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,5 FROM ITEMS WHERE Items.Code='TC-02'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,11 FROM ITEMS WHERE Items.Code='TT-04-3'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,14 FROM ITEMS WHERE Items.Code='TT-04-4'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,6 FROM ITEMS WHERE Items.Code='TT-05'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,3 FROM ITEMS WHERE Items.Code='TT-06'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,2 FROM ITEMS WHERE Items.Code='TT-07'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,5 FROM ITEMS WHERE Items.Code='TT-08'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,2 FROM ITEMS WHERE Items.Code='BLADE (T. CUTTER)'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,1 FROM ITEMS WHERE Items.Code='NBE-600C'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,2 FROM ITEMS WHERE Items.Code='NBE-880C/ FC880C'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,2 FROM ITEMS WHERE Items.Code='A8320'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,24 FROM ITEMS WHERE Items.Code='OA-1310'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,429 FROM ITEMS WHERE Items.Code='OA-1311'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,44 FROM ITEMS WHERE Items.Code='OA-1313'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,419 FROM ITEMS WHERE Items.Code='15-061'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,686 FROM ITEMS WHERE Items.Code='15-062'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,675 FROM ITEMS WHERE Items.Code='15-063'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,685 FROM ITEMS WHERE Items.Code='15-065'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,691 FROM ITEMS WHERE Items.Code='15-066'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,660 FROM ITEMS WHERE Items.Code='15-067'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,3 FROM ITEMS WHERE Items.Code='HC2023'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,321 FROM ITEMS WHERE Items.Code='HC-2143-2'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,23 FROM ITEMS WHERE Items.Code='HC-2143-3'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,67 FROM ITEMS WHERE Items.Code='HC-8141-2'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,181 FROM ITEMS WHERE Items.Code='OA-1103'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,110 FROM ITEMS WHERE Items.Code='PG8168'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,720 FROM ITEMS WHERE Items.Code='6102-1'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,756 FROM ITEMS WHERE Items.Code='6108-2'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,720 FROM ITEMS WHERE Items.Code='6110-1'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,720 FROM ITEMS WHERE Items.Code='6163-4'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,2 FROM ITEMS WHERE Items.Code='2081C'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,2 FROM ITEMS WHERE Items.Code='2109'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,3 FROM ITEMS WHERE Items.Code='2113'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,3 FROM ITEMS WHERE Items.Code='2120'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,2 FROM ITEMS WHERE Items.Code='2131'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,2 FROM ITEMS WHERE Items.Code='2150'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,1 FROM ITEMS WHERE Items.Code='2151'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,3 FROM ITEMS WHERE Items.Code='4688'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,3 FROM ITEMS WHERE Items.Code='6888'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,1 FROM ITEMS WHERE Items.Code='8120'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,2 FROM ITEMS WHERE Items.Code='9011'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,4 FROM ITEMS WHERE Items.Code='9028'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,7 FROM ITEMS WHERE Items.Code='8864'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,4 FROM ITEMS WHERE Items.Code='FC11102'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,5 FROM ITEMS WHERE Items.Code='FC121106'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,4 FROM ITEMS WHERE Items.Code='FC121110'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,5 FROM ITEMS WHERE Items.Code='FC121130'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,6 FROM ITEMS WHERE Items.Code='FC121153'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,3 FROM ITEMS WHERE Items.Code='FLIP-FLOW CHP'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,8 FROM ITEMS WHERE Items.Code='FLIP-FLOW CHT'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,3 FROM ITEMS WHERE Items.Code='FC-08005A'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,3 FROM ITEMS WHERE Items.Code='FC-30610'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,10 FROM ITEMS WHERE Items.Code='FC-30610A'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,3 FROM ITEMS WHERE Items.Code='FC-30613'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,10 FROM ITEMS WHERE Items.Code='FC-31106'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,10 FROM ITEMS WHERE Items.Code='FC-34105'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,8 FROM ITEMS WHERE Items.Code='FC-37608'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,9 FROM ITEMS WHERE Items.Code='ADH-HD'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,188 FROM ITEMS WHERE Items.Code='ADH-SA'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,5 FROM ITEMS WHERE Items.Code='FC-SF-102-1GAL'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,26 FROM ITEMS WHERE Items.Code='SK-1'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,35 FROM ITEMS WHERE Items.Code='SK-10'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,46 FROM ITEMS WHERE Items.Code='SK-11'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,7 FROM ITEMS WHERE Items.Code='SK-12'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,45 FROM ITEMS WHERE Items.Code='SK-13'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,34 FROM ITEMS WHERE Items.Code='SK-14L'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,51 FROM ITEMS WHERE Items.Code='SK-14M'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,76 FROM ITEMS WHERE Items.Code='SK-15'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,45 FROM ITEMS WHERE Items.Code='SK-16'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,18 FROM ITEMS WHERE Items.Code='SK-17'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,39 FROM ITEMS WHERE Items.Code='SK-19'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,34 FROM ITEMS WHERE Items.Code='SK-2'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,34 FROM ITEMS WHERE Items.Code='SK-20'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,34 FROM ITEMS WHERE Items.Code='SK21'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,33 FROM ITEMS WHERE Items.Code='SK22'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,38 FROM ITEMS WHERE Items.Code='SK23'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,40 FROM ITEMS WHERE Items.Code='SK24'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,32 FROM ITEMS WHERE Items.Code='SK-4'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,39 FROM ITEMS WHERE Items.Code='SK-5'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,27 FROM ITEMS WHERE Items.Code='SK-6'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,37 FROM ITEMS WHERE Items.Code='SK-7'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,51 FROM ITEMS WHERE Items.Code='SK-8'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,5 FROM ITEMS WHERE Items.Code='STIK-ALL VG 1GAL'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,18 FROM ITEMS WHERE Items.Code='STIK-ALL VG 1L'
UNION SELECT TOP 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',1,19 FROM ITEMS WHERE Items.Code='QUICK STAIN REMOVER'
