insert into STImports([DateCreated],[DateUploaded],[RequestStatus],[StoreId],[TransactionNo],[PhysicalCountType]) select GETDATE(), GETDATE(),2,29,'PC000002',1;
insert into STImportDetails([AllowUpdate],[DateCreated],[ItemId],[SystemCount],[Remarks],[STImportId],PhysicalCount)  
SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,4 FROM ITEMS WHERE Items.Code='FC100 (3MM-PE)' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,6 FROM ITEMS WHERE Items.Code='FC103 (3MM-PE)' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,1 FROM ITEMS WHERE Items.Code='FC103 (4MM-NANO)' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,15 FROM ITEMS WHERE Items.Code='FC122 (3MM-PE)' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,3 FROM ITEMS WHERE Items.Code='FC131' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,4 FROM ITEMS WHERE Items.Code='FC132' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,2 FROM ITEMS WHERE Items.Code='FC321 (3MM-PE)' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,6 FROM ITEMS WHERE Items.Code='FC331 (3MM-PE)' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,2 FROM ITEMS WHERE Items.Code='FC333-3' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,1 FROM ITEMS WHERE Items.Code='FC511 (3MM-PE)' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,3 FROM ITEMS WHERE Items.Code='FC512 (3MM-PE)' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,2 FROM ITEMS WHERE Items.Code='FCP363/FC416 3MM-PE' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,11 FROM ITEMS WHERE Items.Code='AI205' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,1 FROM ITEMS WHERE Items.Code='AI206' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,127 FROM ITEMS WHERE Items.Code='AI208' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,73 FROM ITEMS WHERE Items.Code='AI209' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,55 FROM ITEMS WHERE Items.Code='AI210' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,8 FROM ITEMS WHERE Items.Code='RD201' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,7 FROM ITEMS WHERE Items.Code='RD207' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,9 FROM ITEMS WHERE Items.Code='RD209' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,80 FROM ITEMS WHERE Items.Code='AI211' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,34 FROM ITEMS WHERE Items.Code='CB8061' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,21 FROM ITEMS WHERE Items.Code='CB8118' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,2 FROM ITEMS WHERE Items.Code='CJ8001' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,1 FROM ITEMS WHERE Items.Code='CJ8003' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,2 FROM ITEMS WHERE Items.Code='F1-C5' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,2 FROM ITEMS WHERE Items.Code='F2-C1' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,2 FROM ITEMS WHERE Items.Code='F2-C4' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,2 FROM ITEMS WHERE Items.Code='F3-C5' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,5 FROM ITEMS WHERE Items.Code='6185' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,269 FROM ITEMS WHERE Items.Code='6186P' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,124 FROM ITEMS WHERE Items.Code='6187P' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,74 FROM ITEMS WHERE Items.Code='6188' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,42 FROM ITEMS WHERE Items.Code='6189' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,110 FROM ITEMS WHERE Items.Code='6190' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,82 FROM ITEMS WHERE Items.Code='6191' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,73 FROM ITEMS WHERE Items.Code='6192' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,81 FROM ITEMS WHERE Items.Code='6193' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,140 FROM ITEMS WHERE Items.Code='6194' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,136 FROM ITEMS WHERE Items.Code='6195' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,142 FROM ITEMS WHERE Items.Code='6196' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,80 FROM ITEMS WHERE Items.Code='6197' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,83 FROM ITEMS WHERE Items.Code='631380P' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,37 FROM ITEMS WHERE Items.Code='6500' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,4 FROM ITEMS WHERE Items.Code='6624' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,79 FROM ITEMS WHERE Items.Code='A06GZSUR-0WH.M0R' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,3 FROM ITEMS WHERE Items.Code='A6001' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,111 FROM ITEMS WHERE Items.Code='A6003' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,88 FROM ITEMS WHERE Items.Code='ABA6200' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,272 FROM ITEMS WHERE Items.Code='ABA6500' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,96 FROM ITEMS WHERE Items.Code='AK6004' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,84 FROM ITEMS WHERE Items.Code='AK602' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,60 FROM ITEMS WHERE Items.Code='AK603' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,139 FROM ITEMS WHERE Items.Code='AK604' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,4 FROM ITEMS WHERE Items.Code='AK605' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,142 FROM ITEMS WHERE Items.Code='AK606L' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,94 FROM ITEMS WHERE Items.Code='AK608' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,5 FROM ITEMS WHERE Items.Code='AK611' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,149 FROM ITEMS WHERE Items.Code='AK613' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,4 FROM ITEMS WHERE Items.Code='AK614' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,3 FROM ITEMS WHERE Items.Code='AK617' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,4 FROM ITEMS WHERE Items.Code='AK640' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,164 FROM ITEMS WHERE Items.Code='AK6603' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,4 FROM ITEMS WHERE Items.Code='AK6606' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,4 FROM ITEMS WHERE Items.Code='AK6652' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,2 FROM ITEMS WHERE Items.Code='ASA6251' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,4 FROM ITEMS WHERE Items.Code='ASA6500' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,96 FROM ITEMS WHERE Items.Code='BTN329' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,84 FROM ITEMS WHERE Items.Code='BTS323 MATTE' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,77 FROM ITEMS WHERE Items.Code='BTS328 MATTE' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,58 FROM ITEMS WHERE Items.Code='CB26101' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,152 FROM ITEMS WHERE Items.Code='CB26102' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,17 FROM ITEMS WHERE Items.Code='CB26201' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,106 FROM ITEMS WHERE Items.Code='CB26203' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,3 FROM ITEMS WHERE Items.Code='CB26213' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,86 FROM ITEMS WHERE Items.Code='CB6111' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,162 FROM ITEMS WHERE Items.Code='CB6112' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,162 FROM ITEMS WHERE Items.Code='CB6113' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,3 FROM ITEMS WHERE Items.Code='CB6H801' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,139 FROM ITEMS WHERE Items.Code='CE6A01' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,41 FROM ITEMS WHERE Items.Code='CE6A02' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,60 FROM ITEMS WHERE Items.Code='CJ6001' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,2 FROM ITEMS WHERE Items.Code='CJ6003' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,56 FROM ITEMS WHERE Items.Code='CL01' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,77 FROM ITEMS WHERE Items.Code='CL02' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,14 FROM ITEMS WHERE Items.Code='CL03' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,60 FROM ITEMS WHERE Items.Code='CL04' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,235 FROM ITEMS WHERE Items.Code='CL6B01' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,164 FROM ITEMS WHERE Items.Code='CL6B02' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,107 FROM ITEMS WHERE Items.Code='CL6B03' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,4 FROM ITEMS WHERE Items.Code='DH6615' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,26 FROM ITEMS WHERE Items.Code='G0AC-01QEA' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,78 FROM ITEMS WHERE Items.Code='G0AC-11QEA' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,73 FROM ITEMS WHERE Items.Code='G0AC-21QEA' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,95 FROM ITEMS WHERE Items.Code='G0AC-31QEA' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,6 FROM ITEMS WHERE Items.Code='G0AC-41QEA' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,86 FROM ITEMS WHERE Items.Code='G0AC-51QEA' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,79 FROM ITEMS WHERE Items.Code='G0AC-61QEA' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,84 FROM ITEMS WHERE Items.Code='G0AE-01EA' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,35 FROM ITEMS WHERE Items.Code='G0AE-11EA' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,50 FROM ITEMS WHERE Items.Code='G0AE-21EA' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,81 FROM ITEMS WHERE Items.Code='G0AE-31EA' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,15 FROM ITEMS WHERE Items.Code='G0AE-41EA' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,14 FROM ITEMS WHERE Items.Code='G0AE-51EA' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,77 FROM ITEMS WHERE Items.Code='G0AM-01PEA' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,80 FROM ITEMS WHERE Items.Code='G0AM-11PEA' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,79 FROM ITEMS WHERE Items.Code='G0AM-21PEA' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,69 FROM ITEMS WHERE Items.Code='G0AM-31PEA' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,78 FROM ITEMS WHERE Items.Code='G0AM-41PEA' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,106 FROM ITEMS WHERE Items.Code='G0AM-51PEA' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,79 FROM ITEMS WHERE Items.Code='G0AM-61PEA' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,183 FROM ITEMS WHERE Items.Code='G0BC-60Q' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,80 FROM ITEMS WHERE Items.Code='G0BC-70QEA' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,67 FROM ITEMS WHERE Items.Code='G0BE-60P' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,85 FROM ITEMS WHERE Items.Code='G0BM-60P' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,79 FROM ITEMS WHERE Items.Code='G0JBC-02Q' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,48 FROM ITEMS WHERE Items.Code='G0SC-03Q' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,79 FROM ITEMS WHERE Items.Code='G0SC-05QEA' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,79 FROM ITEMS WHERE Items.Code='G0SC-06QEA' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,80 FROM ITEMS WHERE Items.Code='G0SM-05PEA' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,95 FROM ITEMS WHERE Items.Code='G0SM-06PEA' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,78 FROM ITEMS WHERE Items.Code='GOKA-G02AEA' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,79 FROM ITEMS WHERE Items.Code='GOKA-G02BEA' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,156 FROM ITEMS WHERE Items.Code='GOKA-G02EA' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,55 FROM ITEMS WHERE Items.Code='GOKA-G03AEA' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,75 FROM ITEMS WHERE Items.Code='GOKA-G03BEA' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,82 FROM ITEMS WHERE Items.Code='GOKA-G03EA' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,5 FROM ITEMS WHERE Items.Code='I-6505' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,5 FROM ITEMS WHERE Items.Code='I-6506' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,5 FROM ITEMS WHERE Items.Code='I-6507' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,5 FROM ITEMS WHERE Items.Code='I-6508' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,5 FROM ITEMS WHERE Items.Code='I-6509' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,5 FROM ITEMS WHERE Items.Code='I-6510' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,40 FROM ITEMS WHERE Items.Code='I-ME6506/ SANTA GREY' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,144 FROM ITEMS WHERE Items.Code='I-ME6901' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,4 FROM ITEMS WHERE Items.Code='L6628' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,80 FROM ITEMS WHERE Items.Code='LF6807' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,136 FROM ITEMS WHERE Items.Code='LM6680' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,80 FROM ITEMS WHERE Items.Code='LM6683' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,5 FROM ITEMS WHERE Items.Code='M61' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,4 FROM ITEMS WHERE Items.Code='M62' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,162 FROM ITEMS WHERE Items.Code='M63' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,122 FROM ITEMS WHERE Items.Code='M64' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,132 FROM ITEMS WHERE Items.Code='M67' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,96 FROM ITEMS WHERE Items.Code='M68' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,57 FROM ITEMS WHERE Items.Code='M69' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,82 FROM ITEMS WHERE Items.Code='M70' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,128 FROM ITEMS WHERE Items.Code='M71' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,157 FROM ITEMS WHERE Items.Code='M72-7' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,92 FROM ITEMS WHERE Items.Code='M73-7' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,186 FROM ITEMS WHERE Items.Code='M76-4' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,140 FROM ITEMS WHERE Items.Code='M77' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,153 FROM ITEMS WHERE Items.Code='M78' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,148 FROM ITEMS WHERE Items.Code='M79' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,92 FROM ITEMS WHERE Items.Code='M80(NEW)' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,152 FROM ITEMS WHERE Items.Code='M81' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,30 FROM ITEMS WHERE Items.Code='M82-4' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,1 FROM ITEMS WHERE Items.Code='M83-7' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,112 FROM ITEMS WHERE Items.Code='M84' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,80 FROM ITEMS WHERE Items.Code='M85-4' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,79 FROM ITEMS WHERE Items.Code='M86-6' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,80 FROM ITEMS WHERE Items.Code='M87-4' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,60 FROM ITEMS WHERE Items.Code='M88-7' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,80 FROM ITEMS WHERE Items.Code='M90-7' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,79 FROM ITEMS WHERE Items.Code='M91-4' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,80 FROM ITEMS WHERE Items.Code='M94-6' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,181 FROM ITEMS WHERE Items.Code='ME349  (NEW)' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,136 FROM ITEMS WHERE Items.Code='ME6010' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,141 FROM ITEMS WHERE Items.Code='ME6011 (NEW)' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,106 FROM ITEMS WHERE Items.Code='ME6020' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,45 FROM ITEMS WHERE Items.Code='ME6028' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,169 FROM ITEMS WHERE Items.Code='ME6029' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,202 FROM ITEMS WHERE Items.Code='ME6030' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,31 FROM ITEMS WHERE Items.Code='ME6090/ ACOUSTIC' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,79 FROM ITEMS WHERE Items.Code='ME6503  (NEW)' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,137 FROM ITEMS WHERE Items.Code='ME6615' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,321 FROM ITEMS WHERE Items.Code='ME6621' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,314 FROM ITEMS WHERE Items.Code='ME6622' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,233 FROM ITEMS WHERE Items.Code='ME6625H' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,80 FROM ITEMS WHERE Items.Code='MT1' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,77 FROM ITEMS WHERE Items.Code='MT2' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,80 FROM ITEMS WHERE Items.Code='MT3' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,9 FROM ITEMS WHERE Items.Code='MT6001' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,180 FROM ITEMS WHERE Items.Code='MT60122PL1' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,42 FROM ITEMS WHERE Items.Code='MT60132PL1' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,8 FROM ITEMS WHERE Items.Code='Q6032' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,4 FROM ITEMS WHERE Items.Code='TTB6092' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,5 FROM ITEMS WHERE Items.Code='V00' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,86 FROM ITEMS WHERE Items.Code='VA' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,117 FROM ITEMS WHERE Items.Code='VB' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,94 FROM ITEMS WHERE Items.Code='VC' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,177 FROM ITEMS WHERE Items.Code='VD' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,106 FROM ITEMS WHERE Items.Code='VE' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,83 FROM ITEMS WHERE Items.Code='VF' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,10 FROM ITEMS WHERE Items.Code='VG' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,4 FROM ITEMS WHERE Items.Code='VH' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,40 FROM ITEMS WHERE Items.Code='VJ' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,80 FROM ITEMS WHERE Items.Code='VK' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,4 FROM ITEMS WHERE Items.Code='XT6020' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,4 FROM ITEMS WHERE Items.Code='XT6080' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,80 FROM ITEMS WHERE Items.Code='A06GZABL-BR0.G0P' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,79 FROM ITEMS WHERE Items.Code='A06GZABL-WH0.G0P' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,80 FROM ITEMS WHERE Items.Code='A06GZGMA-GYO.G0P' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,71 FROM ITEMS WHERE Items.Code='A06GZSMK-WH0.G0P' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,4 FROM ITEMS WHERE Items.Code='ASA5126' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,105 FROM ITEMS WHERE Items.Code='ASA5200' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,4 FROM ITEMS WHERE Items.Code='ASA5201' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,4 FROM ITEMS WHERE Items.Code='ASA5202' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,4 FROM ITEMS WHERE Items.Code='ASA5504' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,12 FROM ITEMS WHERE Items.Code='G59944' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,12 FROM ITEMS WHERE Items.Code='G59949' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,244 FROM ITEMS WHERE Items.Code='402' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,444 FROM ITEMS WHERE Items.Code='403-G' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,527 FROM ITEMS WHERE Items.Code='406' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,261 FROM ITEMS WHERE Items.Code='421' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,431 FROM ITEMS WHERE Items.Code='432' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,206 FROM ITEMS WHERE Items.Code='8503(40)' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,207 FROM ITEMS WHERE Items.Code='A41' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,223 FROM ITEMS WHERE Items.Code='A42' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,243 FROM ITEMS WHERE Items.Code='A43' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,218 FROM ITEMS WHERE Items.Code='A44' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,237 FROM ITEMS WHERE Items.Code='A46' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,67 FROM ITEMS WHERE Items.Code='ASA4200' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,192 FROM ITEMS WHERE Items.Code='ASA4248' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,4 FROM ITEMS WHERE Items.Code='F4040A' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,4 FROM ITEMS WHERE Items.Code='F4040B' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,20 FROM ITEMS WHERE Items.Code='F4040C' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,26 FROM ITEMS WHERE Items.Code='F4040D' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,186 FROM ITEMS WHERE Items.Code='F41' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,17 FROM ITEMS WHERE Items.Code='F42' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,461 FROM ITEMS WHERE Items.Code='F43' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,279 FROM ITEMS WHERE Items.Code='F44' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,256 FROM ITEMS WHERE Items.Code='F45-12' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,255 FROM ITEMS WHERE Items.Code='F46' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,88 FROM ITEMS WHERE Items.Code='I-AI401  (NEW)' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,262 FROM ITEMS WHERE Items.Code='I-AI402  (NEW)' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,5 FROM ITEMS WHERE Items.Code='I-AI403  (NEW)' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,268 FROM ITEMS WHERE Items.Code='S403' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,286 FROM ITEMS WHERE Items.Code='S4040B' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,158 FROM ITEMS WHERE Items.Code='S4040G' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,279 FROM ITEMS WHERE Items.Code='S4040K' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,29 FROM ITEMS WHERE Items.Code='S4040M' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,276 FROM ITEMS WHERE Items.Code='S4040N' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,121 FROM ITEMS WHERE Items.Code='S4040P' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,32 FROM ITEMS WHERE Items.Code='S4040Q' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,399 FROM ITEMS WHERE Items.Code='S4040R' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,311 FROM ITEMS WHERE Items.Code='S4040S' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,104 FROM ITEMS WHERE Items.Code='S4040V' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,156 FROM ITEMS WHERE Items.Code='S4040W' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,298 FROM ITEMS WHERE Items.Code='S4040W-0' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,24 FROM ITEMS WHERE Items.Code='S407' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,5 FROM ITEMS WHERE Items.Code='S411' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,2 FROM ITEMS WHERE Items.Code='S412' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,254 FROM ITEMS WHERE Items.Code='S413' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,312 FROM ITEMS WHERE Items.Code='S414' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,216 FROM ITEMS WHERE Items.Code='S415' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,298 FROM ITEMS WHERE Items.Code='S416' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,255 FROM ITEMS WHERE Items.Code='S417' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,304 FROM ITEMS WHERE Items.Code='S418' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,202 FROM ITEMS WHERE Items.Code='S419' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,298 FROM ITEMS WHERE Items.Code='S420' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,281 FROM ITEMS WHERE Items.Code='S421' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,290 FROM ITEMS WHERE Items.Code='S422' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,164 FROM ITEMS WHERE Items.Code='SF4464C' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,4 FROM ITEMS WHERE Items.Code='3838P' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,4 FROM ITEMS WHERE Items.Code='F3838B' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,4 FROM ITEMS WHERE Items.Code='F3838C NEW' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,4 FROM ITEMS WHERE Items.Code='F3838D NEW' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,4 FROM ITEMS WHERE Items.Code='F3838F' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,4 FROM ITEMS WHERE Items.Code='F3838H' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,4 FROM ITEMS WHERE Items.Code='F3838M' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,4 FROM ITEMS WHERE Items.Code='F3838N' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,4 FROM ITEMS WHERE Items.Code='F3838O' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,4 FROM ITEMS WHERE Items.Code='F3838Q' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,4 FROM ITEMS WHERE Items.Code='F8001' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,4 FROM ITEMS WHERE Items.Code='F8503' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,4 FROM ITEMS WHERE Items.Code='F8504' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,111 FROM ITEMS WHERE Items.Code='2-6B60481/ BEIGE BAS' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,149 FROM ITEMS WHERE Items.Code='2-6B60481-J1' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,221 FROM ITEMS WHERE Items.Code='3-6E60479' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,107 FROM ITEMS WHERE Items.Code='3-6E60480' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,143 FROM ITEMS WHERE Items.Code='6A60478' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,144 FROM ITEMS WHERE Items.Code='6A60478-J1' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,5 FROM ITEMS WHERE Items.Code='AK6004C' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,140 FROM ITEMS WHERE Items.Code='BTN326C' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,32 FROM ITEMS WHERE Items.Code='BTS324C' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,158 FROM ITEMS WHERE Items.Code='CB6113C36' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,1 FROM ITEMS WHERE Items.Code='GLB60293' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,64 FROM ITEMS WHERE Items.Code='GQIA62032' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,317 FROM ITEMS WHERE Items.Code='GQIP62017' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,1 FROM ITEMS WHERE Items.Code='H3601' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,1 FROM ITEMS WHERE Items.Code='H3602' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,1 FROM ITEMS WHERE Items.Code='H3603' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,1 FROM ITEMS WHERE Items.Code='H3604' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,1 FROM ITEMS WHERE Items.Code='H3605' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,1 FROM ITEMS WHERE Items.Code='H3606' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,246 FROM ITEMS WHERE Items.Code='I01' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,122 FROM ITEMS WHERE Items.Code='I-3601 (NEW)' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,80 FROM ITEMS WHERE Items.Code='I-3602 (NEW)' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,371 FROM ITEMS WHERE Items.Code='I-3603' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,2 FROM ITEMS WHERE Items.Code='IQF3606 (H3605)' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,22 FROM ITEMS WHERE Items.Code='KY1 (2-8D60590)' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,111 FROM ITEMS WHERE Items.Code='KY15 (VP-2E60760)' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,191 FROM ITEMS WHERE Items.Code='KY16 (VP-2E60759-K1D' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,57 FROM ITEMS WHERE Items.Code='KY2 (3-8E60591)' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,77 FROM ITEMS WHERE Items.Code='KY3 (3-8E60592)' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,80 FROM ITEMS WHERE Items.Code='KY4 (3-8E60593)' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,79 FROM ITEMS WHERE Items.Code='KY5 (2-8E60595)' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,78 FROM ITEMS WHERE Items.Code='KY6 (3-8E60596)' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,176 FROM ITEMS WHERE Items.Code='KY7 (3-6E60609)' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,191 FROM ITEMS WHERE Items.Code='KY8 (3-6E60607)' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,1 FROM ITEMS WHERE Items.Code='M2WB' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,1 FROM ITEMS WHERE Items.Code='M2WM' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,1 FROM ITEMS WHERE Items.Code='M3G' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,2 FROM ITEMS WHERE Items.Code='M3W' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,277 FROM ITEMS WHERE Items.Code='MILAN 01' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,226 FROM ITEMS WHERE Items.Code='MILAN 05D(83913B)' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,80 FROM ITEMS WHERE Items.Code='MILAN 05U(83913)' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,2 FROM ITEMS WHERE Items.Code='MILAN 07U' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,197 FROM ITEMS WHERE Items.Code='MILAN03D' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,2 FROM ITEMS WHERE Items.Code='MILAN03U' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,1 FROM ITEMS WHERE Items.Code='MILAN04' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,1 FROM ITEMS WHERE Items.Code='MILAN06' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,127 FROM ITEMS WHERE Items.Code='MILAN09D' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,160 FROM ITEMS WHERE Items.Code='MILAN09U' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,4 FROM ITEMS WHERE Items.Code='MILAN10' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,11 FROM ITEMS WHERE Items.Code='MILAN11' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,1 FROM ITEMS WHERE Items.Code='MILANO8D' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,1 FROM ITEMS WHERE Items.Code='MILANO8U' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,77 FROM ITEMS WHERE Items.Code='MP6351' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,13 FROM ITEMS WHERE Items.Code='Q362' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,147 FROM ITEMS WHERE Items.Code='QF3601' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,85 FROM ITEMS WHERE Items.Code='VLM6680' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,1 FROM ITEMS WHERE Items.Code='VLM6683' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,1 FROM ITEMS WHERE Items.Code='W2WN' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,40 FROM ITEMS WHERE Items.Code='Y367A' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,40 FROM ITEMS WHERE Items.Code='Y367B' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,40 FROM ITEMS WHERE Items.Code='Y368A' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,40 FROM ITEMS WHERE Items.Code='Y368B' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,18 FROM ITEMS WHERE Items.Code='Y361' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,8 FROM ITEMS WHERE Items.Code='Y362' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,15 FROM ITEMS WHERE Items.Code='Y363' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,20 FROM ITEMS WHERE Items.Code='Y364' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,22 FROM ITEMS WHERE Items.Code='Y365' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,31 FROM ITEMS WHERE Items.Code='Y366' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,105 FROM ITEMS WHERE Items.Code='01 / M302' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,360 FROM ITEMS WHERE Items.Code='01-0' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,778 FROM ITEMS WHERE Items.Code='21009 / M301' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,914 FROM ITEMS WHERE Items.Code='220T' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,397 FROM ITEMS WHERE Items.Code='3007' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,500 FROM ITEMS WHERE Items.Code='300T' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,1171 FROM ITEMS WHERE Items.Code='306' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,501 FROM ITEMS WHERE Items.Code='310T' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,512 FROM ITEMS WHERE Items.Code='312M / M312' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,623 FROM ITEMS WHERE Items.Code='320T' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,686 FROM ITEMS WHERE Items.Code='3273' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,666 FROM ITEMS WHERE Items.Code='3274' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,271 FROM ITEMS WHERE Items.Code='3275' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,654 FROM ITEMS WHERE Items.Code='330T' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,13 FROM ITEMS WHERE Items.Code='3382' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,710 FROM ITEMS WHERE Items.Code='3383' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,663 FROM ITEMS WHERE Items.Code='3384' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,692 FROM ITEMS WHERE Items.Code='340T' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,645 FROM ITEMS WHERE Items.Code='3432' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,363 FROM ITEMS WHERE Items.Code='3441' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,585 FROM ITEMS WHERE Items.Code='3443' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,276 FROM ITEMS WHERE Items.Code='A321' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,24 FROM ITEMS WHERE Items.Code='ABA6200C30' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,2 FROM ITEMS WHERE Items.Code='E3840' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,2 FROM ITEMS WHERE Items.Code='E3841' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,2 FROM ITEMS WHERE Items.Code='E3842' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,2 FROM ITEMS WHERE Items.Code='E3843' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,691 FROM ITEMS WHERE Items.Code='EP94/T3278' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,4 FROM ITEMS WHERE Items.Code='F3030C' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,2 FROM ITEMS WHERE Items.Code='F3030ER' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,432 FROM ITEMS WHERE Items.Code='F3032' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,960 FROM ITEMS WHERE Items.Code='F3033' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,551 FROM ITEMS WHERE Items.Code='F3035' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,1232 FROM ITEMS WHERE Items.Code='F3038' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,1146 FROM ITEMS WHERE Items.Code='F3885' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,28 FROM ITEMS WHERE Items.Code='I-3449' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,167 FROM ITEMS WHERE Items.Code='I-3449-2' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,562 FROM ITEMS WHERE Items.Code='L31' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,733 FROM ITEMS WHERE Items.Code='L32' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,359 FROM ITEMS WHERE Items.Code='L33' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,843 FROM ITEMS WHERE Items.Code='L34' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,858 FROM ITEMS WHERE Items.Code='L35' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,870 FROM ITEMS WHERE Items.Code='L36' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,875 FROM ITEMS WHERE Items.Code='L37' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,837 FROM ITEMS WHERE Items.Code='L38' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,801 FROM ITEMS WHERE Items.Code='L39' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,855 FROM ITEMS WHERE Items.Code='L40' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,868 FROM ITEMS WHERE Items.Code='L41' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,847 FROM ITEMS WHERE Items.Code='L42' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,1019 FROM ITEMS WHERE Items.Code='L43' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,819 FROM ITEMS WHERE Items.Code='L44' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,602 FROM ITEMS WHERE Items.Code='L45' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,738 FROM ITEMS WHERE Items.Code='L46' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,748 FROM ITEMS WHERE Items.Code='L47' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,862 FROM ITEMS WHERE Items.Code='L48' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,711 FROM ITEMS WHERE Items.Code='L49' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,825 FROM ITEMS WHERE Items.Code='L50' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,759 FROM ITEMS WHERE Items.Code='L51' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,750 FROM ITEMS WHERE Items.Code='L52' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,486 FROM ITEMS WHERE Items.Code='L53' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,751 FROM ITEMS WHERE Items.Code='P01' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,766 FROM ITEMS WHERE Items.Code='P02' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,669 FROM ITEMS WHERE Items.Code='P03' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,806 FROM ITEMS WHERE Items.Code='ROMA 170T' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,250 FROM ITEMS WHERE Items.Code='ROMA 180T' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,231 FROM ITEMS WHERE Items.Code='S3011' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,1004 FROM ITEMS WHERE Items.Code='S3012' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,1053 FROM ITEMS WHERE Items.Code='T3271' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,685 FROM ITEMS WHERE Items.Code='T3272' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,766 FROM ITEMS WHERE Items.Code='T3306' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,938 FROM ITEMS WHERE Items.Code='T3321' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,24 FROM ITEMS WHERE Items.Code='WP3305' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,432 FROM ITEMS WHERE Items.Code='I-3455-6' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,432 FROM ITEMS WHERE Items.Code='I-3456-6' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,431 FROM ITEMS WHERE Items.Code='I-3461-6' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,4 FROM ITEMS WHERE Items.Code='AL-004' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,1 FROM ITEMS WHERE Items.Code='AL-004L' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,40 FROM ITEMS WHERE Items.Code='AL-005' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,23 FROM ITEMS WHERE Items.Code='AL-005L' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,31 FROM ITEMS WHERE Items.Code='AL-006L' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,22 FROM ITEMS WHERE Items.Code='AL-007' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,31 FROM ITEMS WHERE Items.Code='AL-008L' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,42 FROM ITEMS WHERE Items.Code='AL-009L' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,1 FROM ITEMS WHERE Items.Code='AL-010L' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,37 FROM ITEMS WHERE Items.Code='AL1-001' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,50 FROM ITEMS WHERE Items.Code='BD029' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,13 FROM ITEMS WHERE Items.Code='HP3039' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,18 FROM ITEMS WHERE Items.Code='K3014L' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,2 FROM ITEMS WHERE Items.Code='K3022-2' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,14 FROM ITEMS WHERE Items.Code='K3062-3' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,37 FROM ITEMS WHERE Items.Code='K3076-3L' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,3 FROM ITEMS WHERE Items.Code='K3127' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,14 FROM ITEMS WHERE Items.Code='K3132L' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,12 FROM ITEMS WHERE Items.Code='K3740' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,3 FROM ITEMS WHERE Items.Code='K3741' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,54 FROM ITEMS WHERE Items.Code='L233-3' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,55 FROM ITEMS WHERE Items.Code='L233-4' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,54 FROM ITEMS WHERE Items.Code='L233-6' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,2 FROM ITEMS WHERE Items.Code='WP3045' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,4 FROM ITEMS WHERE Items.Code='WP3134' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,28 FROM ITEMS WHERE Items.Code='WP3135' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,57 FROM ITEMS WHERE Items.Code='WP3205' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,7 FROM ITEMS WHERE Items.Code='WP3300' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,1 FROM ITEMS WHERE Items.Code='WP3301' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,28 FROM ITEMS WHERE Items.Code='WP3302' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,6 FROM ITEMS WHERE Items.Code='WP3303' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,28 FROM ITEMS WHERE Items.Code='Y1' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,28 FROM ITEMS WHERE Items.Code='Y2' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,28 FROM ITEMS WHERE Items.Code='Y3' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,28 FROM ITEMS WHERE Items.Code='Y4' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,58 FROM ITEMS WHERE Items.Code='YF2501' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,23 FROM ITEMS WHERE Items.Code='YF2502' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,11 FROM ITEMS WHERE Items.Code='YF2503' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,23 FROM ITEMS WHERE Items.Code='YF2504' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,42 FROM ITEMS WHERE Items.Code='YF2505' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,55 FROM ITEMS WHERE Items.Code='YF2507' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,57 FROM ITEMS WHERE Items.Code='YF2508' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,2 FROM ITEMS WHERE Items.Code='YF2509' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,57 FROM ITEMS WHERE Items.Code='YF2510' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,7 FROM ITEMS WHERE Items.Code='YF2511' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,9 FROM ITEMS WHERE Items.Code='YF2512' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,44 FROM ITEMS WHERE Items.Code='26W-0' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,167 FROM ITEMS WHERE Items.Code='I-26AD-0' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,164 FROM ITEMS WHERE Items.Code='I-26AU-0' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,413 FROM ITEMS WHERE Items.Code='I-26BCUM-0' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,232 FROM ITEMS WHERE Items.Code='I-26BD-0' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,74 FROM ITEMS WHERE Items.Code='I-26CBM-0' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,67 FROM ITEMS WHERE Items.Code='I-26CDM-0' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,85 FROM ITEMS WHERE Items.Code='I-26DD-0' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,145 FROM ITEMS WHERE Items.Code='I-26DU-0' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,136 FROM ITEMS WHERE Items.Code='S261' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,55 FROM ITEMS WHERE Items.Code='S262' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,174 FROM ITEMS WHERE Items.Code='S264D' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,138 FROM ITEMS WHERE Items.Code='S264U' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,102 FROM ITEMS WHERE Items.Code='S265B' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,218 FROM ITEMS WHERE Items.Code='S265D' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,120 FROM ITEMS WHERE Items.Code='S265U' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,90 FROM ITEMS WHERE Items.Code='S266' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,189 FROM ITEMS WHERE Items.Code='S267' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,249 FROM ITEMS WHERE Items.Code='S268D' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,249 FROM ITEMS WHERE Items.Code='S268U' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,223 FROM ITEMS WHERE Items.Code='S269-0' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,109 FROM ITEMS WHERE Items.Code='S270-0' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,8 FROM ITEMS WHERE Items.Code='Y261' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,8 FROM ITEMS WHERE Items.Code='Y262' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,809 FROM ITEMS WHERE Items.Code='1106' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,759 FROM ITEMS WHERE Items.Code='1206' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,12 FROM ITEMS WHERE Items.Code='140A' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,9 FROM ITEMS WHERE Items.Code='140B' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,12 FROM ITEMS WHERE Items.Code='150A' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,9 FROM ITEMS WHERE Items.Code='150B' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,12 FROM ITEMS WHERE Items.Code='160A' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,9 FROM ITEMS WHERE Items.Code='160B' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,12 FROM ITEMS WHERE Items.Code='170A' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,9 FROM ITEMS WHERE Items.Code='170B' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,1555 FROM ITEMS WHERE Items.Code='180A' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,12 FROM ITEMS WHERE Items.Code='190A' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,9 FROM ITEMS WHERE Items.Code='190B' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,12 FROM ITEMS WHERE Items.Code='20B' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,9 FROM ITEMS WHERE Items.Code='20C' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,21 FROM ITEMS WHERE Items.Code='20K' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,1263 FROM ITEMS WHERE Items.Code='20P-0' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,1176 FROM ITEMS WHERE Items.Code='20Q' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,806 FROM ITEMS WHERE Items.Code='20R' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,1507 FROM ITEMS WHERE Items.Code='210A' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,15 FROM ITEMS WHERE Items.Code='210B' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,770 FROM ITEMS WHERE Items.Code='264A' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,1068 FROM ITEMS WHERE Items.Code='264B' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,68 FROM ITEMS WHERE Items.Code='414' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,404 FROM ITEMS WHERE Items.Code='9203' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,500 FROM ITEMS WHERE Items.Code='A02RZENR-DBR.G0U' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,500 FROM ITEMS WHERE Items.Code='A02RZENR-DGY.G0U' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,500 FROM ITEMS WHERE Items.Code='A02RZENR-LBR.G0U' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,497 FROM ITEMS WHERE Items.Code='A02RZENR-LGY.G0U' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,500 FROM ITEMS WHERE Items.Code='A02RZMSA-DBR.M0U' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,500 FROM ITEMS WHERE Items.Code='A02RZMSA-GY0.M0U' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,500 FROM ITEMS WHERE Items.Code='A02RZMSA-IV0.M0U' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,499 FROM ITEMS WHERE Items.Code='A02RZMSA-LBR.M0U' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,498 FROM ITEMS WHERE Items.Code='A20RZENR-LGY.M0U' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,331 FROM ITEMS WHERE Items.Code='I-20M' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,91 FROM ITEMS WHERE Items.Code='I-20N' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,546 FROM ITEMS WHERE Items.Code='I-23A' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,266 FROM ITEMS WHERE Items.Code='I-23B' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,71 FROM ITEMS WHERE Items.Code='I-23C' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,47 FROM ITEMS WHERE Items.Code='I-23D' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,401 FROM ITEMS WHERE Items.Code='I-23E' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,707 FROM ITEMS WHERE Items.Code='I-23F' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,696 FROM ITEMS WHERE Items.Code='I-23G' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,254 FROM ITEMS WHERE Items.Code='I-23H' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,1309 FROM ITEMS WHERE Items.Code='I-23K' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,5183 FROM ITEMS WHERE Items.Code='I-23KM-0' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,1044 FROM ITEMS WHERE Items.Code='I-23L' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,1032 FROM ITEMS WHERE Items.Code='I-23NM-0' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,4 FROM ITEMS WHERE Items.Code='I-23OM-0' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,2328 FROM ITEMS WHERE Items.Code='I-23PM-0' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,750 FROM ITEMS WHERE Items.Code='I-23S' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,528 FROM ITEMS WHERE Items.Code='I-23T' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,84 FROM ITEMS WHERE Items.Code='A23SZCBR-BE0.M2U' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,503 FROM ITEMS WHERE Items.Code='A23SZCBR-BR0.M2U' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,86 FROM ITEMS WHERE Items.Code='A23SZCBR-DGY.M2U' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,80 FROM ITEMS WHERE Items.Code='A23SZCBR-LGY.M2U' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,84 FROM ITEMS WHERE Items.Code='A23SZLNW-BE0.M2U' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,84 FROM ITEMS WHERE Items.Code='A23SZLNW-DBE.M2U' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,90 FROM ITEMS WHERE Items.Code='A23SZLNW-DBR.M2U' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,84 FROM ITEMS WHERE Items.Code='A23SZLNW-IV0.M2U' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,84 FROM ITEMS WHERE Items.Code='A23SZLNW-NU0.M2U' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,504 FROM ITEMS WHERE Items.Code='A23SZPRB-WHO.M0U' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,5 FROM ITEMS WHERE Items.Code='YH1' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,20 FROM ITEMS WHERE Items.Code='YH10' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,20 FROM ITEMS WHERE Items.Code='YH13' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,186 FROM ITEMS WHERE Items.Code='YH14' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,20 FROM ITEMS WHERE Items.Code='YH15' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,20 FROM ITEMS WHERE Items.Code='YH16' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,20 FROM ITEMS WHERE Items.Code='YH17' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,20 FROM ITEMS WHERE Items.Code='YH18' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,20 FROM ITEMS WHERE Items.Code='YH19' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,5 FROM ITEMS WHERE Items.Code='YH2' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,19 FROM ITEMS WHERE Items.Code='YH20' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,132 FROM ITEMS WHERE Items.Code='YH21' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,60 FROM ITEMS WHERE Items.Code='YH23' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,5 FROM ITEMS WHERE Items.Code='YH24' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,4 FROM ITEMS WHERE Items.Code='YH25' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,20 FROM ITEMS WHERE Items.Code='YH26' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,20 FROM ITEMS WHERE Items.Code='YH27' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,20 FROM ITEMS WHERE Items.Code='YH28' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,19 FROM ITEMS WHERE Items.Code='YH29' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,40 FROM ITEMS WHERE Items.Code='YH30' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,19 FROM ITEMS WHERE Items.Code='YH31' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,40 FROM ITEMS WHERE Items.Code='YH34 (4IN1)' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,10 FROM ITEMS WHERE Items.Code='YH35' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,10 FROM ITEMS WHERE Items.Code='YH36' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,10 FROM ITEMS WHERE Items.Code='YH37' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,10 FROM ITEMS WHERE Items.Code='YH38' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,20 FROM ITEMS WHERE Items.Code='YH4' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,8 FROM ITEMS WHERE Items.Code='YH40' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,10 FROM ITEMS WHERE Items.Code='YH41' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,9 FROM ITEMS WHERE Items.Code='YH42' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,20 FROM ITEMS WHERE Items.Code='YH44 (5 IN 1)' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,454 FROM ITEMS WHERE Items.Code='YH5' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,13 FROM ITEMS WHERE Items.Code='YH7' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,20 FROM ITEMS WHERE Items.Code='YH8' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,20 FROM ITEMS WHERE Items.Code='YH9' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,6 FROM ITEMS WHERE Items.Code='2004' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,649 FROM ITEMS WHERE Items.Code='2007 (NEW)' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,6 FROM ITEMS WHERE Items.Code='2009' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,3 FROM ITEMS WHERE Items.Code='2010' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,6 FROM ITEMS WHERE Items.Code='2012' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,578 FROM ITEMS WHERE Items.Code='2017' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,4118 FROM ITEMS WHERE Items.Code='2019' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,1298 FROM ITEMS WHERE Items.Code='2020' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,733 FROM ITEMS WHERE Items.Code='2021' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,6 FROM ITEMS WHERE Items.Code='2261A' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,472 FROM ITEMS WHERE Items.Code='22AB1 BEIGE' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,3115 FROM ITEMS WHERE Items.Code='22AW1' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,428 FROM ITEMS WHERE Items.Code='22AW1H-1' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,359 FROM ITEMS WHERE Items.Code='22AW1H-2' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,481 FROM ITEMS WHERE Items.Code='22AW1H-4' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,499 FROM ITEMS WHERE Items.Code='22BC1 GREY' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,461 FROM ITEMS WHERE Items.Code='22CL3 YELLOW' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,260 FROM ITEMS WHERE Items.Code='22DH1 BLACK' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,156 FROM ITEMS WHERE Items.Code='22DM1 BLUE' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,253 FROM ITEMS WHERE Items.Code='22EK1 RED' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,500 FROM ITEMS WHERE Items.Code='A20RZENR-LBR.M0U' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,388 FROM ITEMS WHERE Items.Code='A20RZMSA-DBR.M0U' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,496 FROM ITEMS WHERE Items.Code='A20RZMSA-GY0.M0U' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,499 FROM ITEMS WHERE Items.Code='A20RZMSA-IV0.M0U' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,493 FROM ITEMS WHERE Items.Code='A20RZMSA-LBR.M0U' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,68 FROM ITEMS WHERE Items.Code='KDY205' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,309 FROM ITEMS WHERE Items.Code='KDY293' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,230 FROM ITEMS WHERE Items.Code='KDY295' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,1008 FROM ITEMS WHERE Items.Code='L21' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,2 FROM ITEMS WHERE Items.Code='MC03' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,37 FROM ITEMS WHERE Items.Code='MC04' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,30 FROM ITEMS WHERE Items.Code='MC05' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,24 FROM ITEMS WHERE Items.Code='MC07' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,40 FROM ITEMS WHERE Items.Code='MC08' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,24 FROM ITEMS WHERE Items.Code='MC09' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,30 FROM ITEMS WHERE Items.Code='MC12' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,30 FROM ITEMS WHERE Items.Code='MC14' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,29 FROM ITEMS WHERE Items.Code='MC16' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,60 FROM ITEMS WHERE Items.Code='MC18' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,6 FROM ITEMS WHERE Items.Code='P22-1' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,6 FROM ITEMS WHERE Items.Code='P22-2' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,486 FROM ITEMS WHERE Items.Code='P22-3' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,6 FROM ITEMS WHERE Items.Code='P22-4' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,6 FROM ITEMS WHERE Items.Code='P22-5' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,6 FROM ITEMS WHERE Items.Code='P22-6' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,5 FROM ITEMS WHERE Items.Code='P22-7' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,30 FROM ITEMS WHERE Items.Code='YHG2' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,98 FROM ITEMS WHERE Items.Code='AM1' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,106 FROM ITEMS WHERE Items.Code='AM2' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,94 FROM ITEMS WHERE Items.Code='AM3' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,162 FROM ITEMS WHERE Items.Code='AM4' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,138 FROM ITEMS WHERE Items.Code='AI019/ IA019' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,10 FROM ITEMS WHERE Items.Code='AI024/ IA024' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,2 FROM ITEMS WHERE Items.Code='AI561' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,22 FROM ITEMS WHERE Items.Code='IAI018' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,155 FROM ITEMS WHERE Items.Code='IAI021' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,143 FROM ITEMS WHERE Items.Code='IAI023' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,6 FROM ITEMS WHERE Items.Code='RD001' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,6 FROM ITEMS WHERE Items.Code='RD002' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,6 FROM ITEMS WHERE Items.Code='RD003' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,6 FROM ITEMS WHERE Items.Code='RD004' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,6 FROM ITEMS WHERE Items.Code='RD005' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,6 FROM ITEMS WHERE Items.Code='RD006' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,6 FROM ITEMS WHERE Items.Code='RD007' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,6 FROM ITEMS WHERE Items.Code='RD008' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,154 FROM ITEMS WHERE Items.Code='AI030' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,47 FROM ITEMS WHERE Items.Code='A1.' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,395 FROM ITEMS WHERE Items.Code='A2' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,359 FROM ITEMS WHERE Items.Code='A3' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,420 FROM ITEMS WHERE Items.Code='A4' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,291 FROM ITEMS WHERE Items.Code='A5' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,266 FROM ITEMS WHERE Items.Code='A6' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,374 FROM ITEMS WHERE Items.Code='A7' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,142 FROM ITEMS WHERE Items.Code='12GAB1 (BEIGE)' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,22 FROM ITEMS WHERE Items.Code='12GAW1' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,236 FROM ITEMS WHERE Items.Code='12GBC1 (GRAY)' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,401 FROM ITEMS WHERE Items.Code='12GCL3 (YELLOW)' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,706 FROM ITEMS WHERE Items.Code='12GDH1 (BLACK)' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,439 FROM ITEMS WHERE Items.Code='12GDM1 (BLUE)' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,321 FROM ITEMS WHERE Items.Code='12GEK2 (RED)' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,157 FROM ITEMS WHERE Items.Code='170AB' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,30 FROM ITEMS WHERE Items.Code='36A' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,48 FROM ITEMS WHERE Items.Code='5601' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,34 FROM ITEMS WHERE Items.Code='63015' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,42 FROM ITEMS WHERE Items.Code='63017' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,12 FROM ITEMS WHERE Items.Code='63020' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,156 FROM ITEMS WHERE Items.Code='A-02' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,540 FROM ITEMS WHERE Items.Code='A-04' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,1 FROM ITEMS WHERE Items.Code='A-05' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,34 FROM ITEMS WHERE Items.Code='A-06' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,189 FROM ITEMS WHERE Items.Code='A-07' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,2 FROM ITEMS WHERE Items.Code='A-08' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,324 FROM ITEMS WHERE Items.Code='A-09' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,3 FROM ITEMS WHERE Items.Code='A-10' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,172 FROM ITEMS WHERE Items.Code='A-11' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,3 FROM ITEMS WHERE Items.Code='A-12' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,62 FROM ITEMS WHERE Items.Code='A-13' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,3 FROM ITEMS WHERE Items.Code='A-15' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,3 FROM ITEMS WHERE Items.Code='A-16' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,218 FROM ITEMS WHERE Items.Code='A-20' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,140 FROM ITEMS WHERE Items.Code='A-21' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,391 FROM ITEMS WHERE Items.Code='A21SSWIM-LBL.G0U' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,392 FROM ITEMS WHERE Items.Code='A21SSWIM-WH0.G0U' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,207 FROM ITEMS WHERE Items.Code='A-22' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,311 FROM ITEMS WHERE Items.Code='A-23' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,302 FROM ITEMS WHERE Items.Code='A-24' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,111 FROM ITEMS WHERE Items.Code='A-25' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,55 FROM ITEMS WHERE Items.Code='A-27' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,302 FROM ITEMS WHERE Items.Code='A-28' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,72 FROM ITEMS WHERE Items.Code='A-31' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,233 FROM ITEMS WHERE Items.Code='A-33' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,83 FROM ITEMS WHERE Items.Code='A-34' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,2 FROM ITEMS WHERE Items.Code='A-35' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,433 FROM ITEMS WHERE Items.Code='A-36' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,10 FROM ITEMS WHERE Items.Code='A-39' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,3 FROM ITEMS WHERE Items.Code='A-40' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,15 FROM ITEMS WHERE Items.Code='B5602' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,18 FROM ITEMS WHERE Items.Code='B631' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,20 FROM ITEMS WHERE Items.Code='B632' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,22 FROM ITEMS WHERE Items.Code='B660' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,40 FROM ITEMS WHERE Items.Code='B661' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,24 FROM ITEMS WHERE Items.Code='B665' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,40 FROM ITEMS WHERE Items.Code='B667' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,20 FROM ITEMS WHERE Items.Code='B668' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,2 FROM ITEMS WHERE Items.Code='B669' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,3 FROM ITEMS WHERE Items.Code='B672' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,7 FROM ITEMS WHERE Items.Code='B673' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,10 FROM ITEMS WHERE Items.Code='B761' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,135 FROM ITEMS WHERE Items.Code='BRAZIL1' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,36 FROM ITEMS WHERE Items.Code='C129' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,3 FROM ITEMS WHERE Items.Code='C53' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,165 FROM ITEMS WHERE Items.Code='E111' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,59 FROM ITEMS WHERE Items.Code='E112' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,143 FROM ITEMS WHERE Items.Code='E306' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,131 FROM ITEMS WHERE Items.Code='EC12' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,50 FROM ITEMS WHERE Items.Code='EC13' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,285 FROM ITEMS WHERE Items.Code='EC14' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,3 FROM ITEMS WHERE Items.Code='GRACE 2B' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,21 FROM ITEMS WHERE Items.Code='GRACE 2W' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,27 FROM ITEMS WHERE Items.Code='S18' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,60 FROM ITEMS WHERE Items.Code='YF1031' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,56 FROM ITEMS WHERE Items.Code='YF1061' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,25 FROM ITEMS WHERE Items.Code='YX1' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,20 FROM ITEMS WHERE Items.Code='YX2' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,20 FROM ITEMS WHERE Items.Code='ATT10 GOLD' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,5 FROM ITEMS WHERE Items.Code='TT10-01' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,5 FROM ITEMS WHERE Items.Code='TT10-02' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,128 FROM ITEMS WHERE Items.Code='TT10-03' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,5 FROM ITEMS WHERE Items.Code='TT10-04' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,22 FROM ITEMS WHERE Items.Code='TT10-05' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,184 FROM ITEMS WHERE Items.Code='TT10-06' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,2 FROM ITEMS WHERE Items.Code='TT10-07' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,75 FROM ITEMS WHERE Items.Code='TT10-08' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,24 FROM ITEMS WHERE Items.Code='TT10-09' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,8 FROM ITEMS WHERE Items.Code='TT10-10' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,20 FROM ITEMS WHERE Items.Code='TT10-11' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,31 FROM ITEMS WHERE Items.Code='ATT08' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,57 FROM ITEMS WHERE Items.Code='ATT08 GOLD' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,34 FROM ITEMS WHERE Items.Code='TT8-01' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,83 FROM ITEMS WHERE Items.Code='TT8-02' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,21 FROM ITEMS WHERE Items.Code='TT8-03' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,5 FROM ITEMS WHERE Items.Code='TT8-04' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,82 FROM ITEMS WHERE Items.Code='TT8-05' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,118 FROM ITEMS WHERE Items.Code='TT8-06' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,3 FROM ITEMS WHERE Items.Code='TT8-07' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,25 FROM ITEMS WHERE Items.Code='TT8-08' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,78 FROM ITEMS WHERE Items.Code='TT8-09' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,55 FROM ITEMS WHERE Items.Code='TT8-10' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,49 FROM ITEMS WHERE Items.Code='6MM BEIGE' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,20 FROM ITEMS WHERE Items.Code='6MM WHITE' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,15 FROM ITEMS WHERE Items.Code='AST27' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,20 FROM ITEMS WHERE Items.Code='AST27 GOLD' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,20 FROM ITEMS WHERE Items.Code='AST35' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,20 FROM ITEMS WHERE Items.Code='AST35 GOLD' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,15 FROM ITEMS WHERE Items.Code='PST52-01' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,6 FROM ITEMS WHERE Items.Code='PST52-02' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,1 FROM ITEMS WHERE Items.Code='LEVELLING RULER' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,1 FROM ITEMS WHERE Items.Code='TC-01-2' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,63 FROM ITEMS WHERE Items.Code='TC-01-3/ TILE SPACER' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,81 FROM ITEMS WHERE Items.Code='TC-01-4/ TILE SPACER' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,128 FROM ITEMS WHERE Items.Code='TC-01-5/ TILE SPACER' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,2 FROM ITEMS WHERE Items.Code='TC-02/ FOAM' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,6 FROM ITEMS WHERE Items.Code='TT-01' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,5 FROM ITEMS WHERE Items.Code='TT-02' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,4 FROM ITEMS WHERE Items.Code='TT-03' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,5 FROM ITEMS WHERE Items.Code='TT-04-2/ PUTTY KNIFE' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,7 FROM ITEMS WHERE Items.Code='TT-04-3/ PUTTY KNIFE' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,7 FROM ITEMS WHERE Items.Code='TT-04-4/ PUTTY KNIFE' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,5 FROM ITEMS WHERE Items.Code='TT-05' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,10 FROM ITEMS WHERE Items.Code='TT-06' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,9 FROM ITEMS WHERE Items.Code='TT-07' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,9 FROM ITEMS WHERE Items.Code='TT-08' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,10 FROM ITEMS WHERE Items.Code='BLADE (T. CUTTER)' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,1 FROM ITEMS WHERE Items.Code='NBE-600A' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,6 FROM ITEMS WHERE Items.Code='NBE-600C' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,1 FROM ITEMS WHERE Items.Code='NBE-800B' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,5 FROM ITEMS WHERE Items.Code='NBE-880C/ FC880C' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,1 FROM ITEMS WHERE Items.Code='HC7345-1' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,13 FROM ITEMS WHERE Items.Code='OA-1308' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,10 FROM ITEMS WHERE Items.Code='OA-1311' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,1 FROM ITEMS WHERE Items.Code='OA-1312' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,2 FROM ITEMS WHERE Items.Code='OA-1313' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,1 FROM ITEMS WHERE Items.Code='OA-1317' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,1 FROM ITEMS WHERE Items.Code='OA-1319' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,174 FROM ITEMS WHERE Items.Code='OA-1322' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,305 FROM ITEMS WHERE Items.Code='15-061' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,410 FROM ITEMS WHERE Items.Code='15-062' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,33 FROM ITEMS WHERE Items.Code='15-063' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,309 FROM ITEMS WHERE Items.Code='15-065' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,359 FROM ITEMS WHERE Items.Code='15-066' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,232 FROM ITEMS WHERE Items.Code='15-067' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,15 FROM ITEMS WHERE Items.Code='HC2023' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,148 FROM ITEMS WHERE Items.Code='HC2039-1' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,149 FROM ITEMS WHERE Items.Code='HC-2143-2' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,14 FROM ITEMS WHERE Items.Code='HC-2143-3' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,2 FROM ITEMS WHERE Items.Code='LD-6101' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,60 FROM ITEMS WHERE Items.Code='OA-1102' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,26 FROM ITEMS WHERE Items.Code='OA-1103' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,27 FROM ITEMS WHERE Items.Code='OA-1308 45.7' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,2 FROM ITEMS WHERE Items.Code='PG8168' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,150 FROM ITEMS WHERE Items.Code='43383' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,159 FROM ITEMS WHERE Items.Code='6110-11 (7.3X48.3)' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,226 FROM ITEMS WHERE Items.Code='43132' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,61 FROM ITEMS WHERE Items.Code='43314' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,192 FROM ITEMS WHERE Items.Code='43374' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,178 FROM ITEMS WHERE Items.Code='6110-11 (6"X36")' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,287 FROM ITEMS WHERE Items.Code='4-63' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,31 FROM ITEMS WHERE Items.Code='LD-6326' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,2 FROM ITEMS WHERE Items.Code='2081C' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,1 FROM ITEMS WHERE Items.Code='2113' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,3 FROM ITEMS WHERE Items.Code='2120' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,1 FROM ITEMS WHERE Items.Code='2131' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,1 FROM ITEMS WHERE Items.Code='2143' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,2 FROM ITEMS WHERE Items.Code='2150' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,4 FROM ITEMS WHERE Items.Code='2151' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,3 FROM ITEMS WHERE Items.Code='4388' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,2 FROM ITEMS WHERE Items.Code='4688' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,2 FROM ITEMS WHERE Items.Code='6888' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,2 FROM ITEMS WHERE Items.Code='8051' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,4 FROM ITEMS WHERE Items.Code='8120' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,4 FROM ITEMS WHERE Items.Code='9011' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,4 FROM ITEMS WHERE Items.Code='9028' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,4 FROM ITEMS WHERE Items.Code='9031' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,2 FROM ITEMS WHERE Items.Code='BUDGET TOILET PKG.' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,1 FROM ITEMS WHERE Items.Code='JA0179' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,2 FROM ITEMS WHERE Items.Code='8814' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,4 FROM ITEMS WHERE Items.Code='8864' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,7 FROM ITEMS WHERE Items.Code='8874' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,2 FROM ITEMS WHERE Items.Code='L1050' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,1 FROM ITEMS WHERE Items.Code='L2201+P2200CASHMERE' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,8 FROM ITEMS WHERE Items.Code='CH-82053' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,4 FROM ITEMS WHERE Items.Code='CH-83001' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,2 FROM ITEMS WHERE Items.Code='CH-84019' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,10 FROM ITEMS WHERE Items.Code='CH-84021' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,7 FROM ITEMS WHERE Items.Code='CH-86013' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,4 FROM ITEMS WHERE Items.Code='FAUCET04' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,3 FROM ITEMS WHERE Items.Code='FC11102' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,5 FROM ITEMS WHERE Items.Code='FC121106' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,20 FROM ITEMS WHERE Items.Code='FC121110' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,20 FROM ITEMS WHERE Items.Code='FC121130' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,4 FROM ITEMS WHERE Items.Code='FC121153' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,2 FROM ITEMS WHERE Items.Code='FLIP-FLOW CHT' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,1 FROM ITEMS WHERE Items.Code='B-8192' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,5 FROM ITEMS WHERE Items.Code='FC-30606' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,3 FROM ITEMS WHERE Items.Code='FC-30610' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,18 FROM ITEMS WHERE Items.Code='FC-30610A' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,15 FROM ITEMS WHERE Items.Code='FC-30613' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,9 FROM ITEMS WHERE Items.Code='FC-37606' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,7 FROM ITEMS WHERE Items.Code='FC-37607' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,7 FROM ITEMS WHERE Items.Code='FC-37608' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,7 FROM ITEMS WHERE Items.Code='ADH-HD' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,44 FROM ITEMS WHERE Items.Code='ADH-SA' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,5 FROM ITEMS WHERE Items.Code='FC-GROUTSEALER-1L' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,39 FROM ITEMS WHERE Items.Code='SK-1' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,49 FROM ITEMS WHERE Items.Code='SK-10' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,40 FROM ITEMS WHERE Items.Code='SK-11' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,17 FROM ITEMS WHERE Items.Code='SK-12' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,43 FROM ITEMS WHERE Items.Code='SK-13' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,51 FROM ITEMS WHERE Items.Code='SK-14-L' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,52 FROM ITEMS WHERE Items.Code='SK-14-M' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,56 FROM ITEMS WHERE Items.Code='SK-15' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,38 FROM ITEMS WHERE Items.Code='SK-16' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,18 FROM ITEMS WHERE Items.Code='SK-17' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,39 FROM ITEMS WHERE Items.Code='SK-19' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,102 FROM ITEMS WHERE Items.Code='SK-2' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,35 FROM ITEMS WHERE Items.Code='SK-20' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,3 FROM ITEMS WHERE Items.Code='SK-21' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,7 FROM ITEMS WHERE Items.Code='SK-22' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,9 FROM ITEMS WHERE Items.Code='SK-23' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,8 FROM ITEMS WHERE Items.Code='SK-24' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,25 FROM ITEMS WHERE Items.Code='SK-4' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,69 FROM ITEMS WHERE Items.Code='SK-5' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,33 FROM ITEMS WHERE Items.Code='SK-6' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,76 FROM ITEMS WHERE Items.Code='SK-7' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,35 FROM ITEMS WHERE Items.Code='SK-8' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,17 FROM ITEMS WHERE Items.Code='STIK-ALL VG 1GAL' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,26 FROM ITEMS WHERE Items.Code='STIK-ALL VG 1L' 
UNION SELECT top 1 0,GETDATE(),ID,0,'BEGINNING BALANCE',2,3 FROM ITEMS WHERE Items.Code='SUREFIX' 
