    <div class="modal fade" id="details_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;" *ngIf="delivery">
        <div class="modal-dialog modal-lg modal-xlg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title modal-text" id="myModalLabel">
                        Transaction No.: <span class="span-text"> {{ delivery.transactionNo }} </span>
                    </h4>
                </div>
                <!--  <div class="g-title_lbl">
                     <ul class="list-inline">
                         <li><label>Trans. No.:</label></li>
                         <li>10001</li>
                     </ul>
                 </div> -->
                <div class="panel-body">
                    <div class="modal-body table-bordered">
                        <div class="row col-md-6">
                            <div class="col-md-8">
                                <div class="row">
                                    <label for="" class="col-sm-4 col-form-label sa-input">Transaction:</label>
                                    <div class="col-sm-7">
                                        <p class="sa-input"> {{ delivery.transactionTypeStr }} </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <label for="" class="col-sm-4 col-form-label sa-input">PO No.:</label>
                                    <div class="col-sm-7">
                                        <p class="sa-input">{{ delivery.poNumber }}</p>
                                    </div>
                                </div>
                                <div class="row" *ngIf="!delivery.isTransferShowroomPickup">
                                    <label for="" class="col-sm-4 col-form-label sa-input">DR No.:</label>
                                    <div class="col-sm-7">
                                        <!--added for ticket #211 [Client PO/Showroom Pickup] DR no. should be blank -->
                                        <ng-container *ngIf="delivery.displayDr">
                                                <p class="sa-input">{{ delivery.drNumber }}</p>
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="row" *ngIf="delivery.isTransferShowroomPickup">
                                    <label for="" class="col-sm-4 col-form-label sa-input">DR No.:</label>
                                    <div class="col-sm-7">
                                        <p class="sa-input" *ngIf="!delivery.isInterBranch">{{ delivery.drNumber }}</p>
                                    </div>
                                </div>
                                <div class="row" *ngIf="delivery.displayWHDRNumber">
                                    <label for="" class="col-sm-4 col-form-label sa-input" >WHDR No.:</label>
                                    <div class="col-sm-7">
                                        <p class="sa-input">{{ delivery.whDrNumber }}</p>
                                    </div>
                                </div>
                                <!-- added condition for ticket #41-->
                                <ng-container *ngIf="isInterBranch">
                                <div class="row" *ngIf="delivery.isTransferShowroomPickup">
                                    <label for="" class="col-sm-4 col-form-label sa-input"> {{ delivery.transferHeader }}</label>
                                    <div class="col-sm-7">
                                        <p class="sa-input">{{ delivery.isInterBranch ? delivery.orNumber : delivery.whDrNumber }}</p>
                                    </div>
                                </div>
                            </ng-container>
                                <div class="row">
                                    <label for="" class="col-sm-4 col-form-label sa-input">Ordered By:</label>
                                    <div class="col-sm-7">
                                        <p class="sa-input"> {{ delivery.orderedByStore }} </p>
                                    </div>
                                </div>

                                <div class="row">
                                    <label for="" class="col-sm-4 col-form-label sa-input">Ordered To:</label>
                                    <div class="col-sm-7">
                                        <p class="sa-input"> {{ delivery.orderedTo }} </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <label for="" class="col-sm-4 col-form-label sa-input">Delivery Status:</label>
                                    <div class="col-sm-7">
                                        <p class="sa-input">{{ delivery.isCustomDelivery ? delivery.deliveredStr :  delivery.deliveryStatusStr }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <label for="" class="col-sm-4 col-form-label sa-input">Ordered Date:</label>
                                    <div class="col-sm-7">
                                        <p class="sa-input">{{ delivery.poDate | date : "mediumDate" }} </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <label for="" class="col-sm-4 col-form-label sa-input">Delivery Mode:</label>
                                    <div class="col-sm-7">
                                        <p class="sa-input">{{ delivery.deliveryTypeStr }} </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <label for="" class="col-sm-4 col-form-label sa-input">Remarks:</label>
                                    <div class="col-sm-7" style="word-break: break-all">
                                        <p class="sa-input"> {{ delivery.remarks }} </p>
                                    </div>
                                </div>

                                <div class="row">
                                    <label for="" class="col-sm-4 col-form-label sa-input">Delivery Remarks:</label>
                                    <div class="col-sm-7" style="word-break: break-all">
                                        <p class="sa-input"> {{ delivery?.deliveryRemarks }} </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row border-g" *ngIf="!isClient">
                        <div class="col-md-6">
                            <label for="" class="col-sm-4 col-form-label sa-input">Deliver To:</label>
                            <div class="col-sm-7">
                                <p class="sa-input"> {{ delivery.orderedBy }} </p>
                            </div>

                            <label for="" class="col-sm-4 col-form-label sa-input">Address:</label>
                            <div class="col-sm-7">
                                <p class="sa-input"> {{ delivery.orderedByAddress }} </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="" class="col-sm-4 col-form-label sa-input">Contact No.:</label>
                            <div class="col-sm-4">
                                <p class="sa-input"> {{ delivery.orderedByContact }} </p>
                            </div>
                        </div>
                    </div>

                    <div class="row border-g" *ngIf="isClient">
                        <div class="col-md-6">
                            <label for="" class="col-sm-4 col-form-label sa-input">Deliver To:</label>
                            <div class="col-sm-7">
                                <p class="sa-input"> {{ delivery.clientName }} </p>
                            </div>

                            <label for="" class="col-sm-4 col-form-label sa-input">Address:</label>
                            <div class="col-sm-7">
                                <p class="sa-input" style="word-break: break-all">  {{ delivery.address1 }} </p>
                                <p class="sa-input" style="word-break: break-all">  {{ delivery.address2 }} </p>
                                <p class="sa-input" style="word-break: break-all">  {{ delivery.address3 }} </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="" class="col-sm-4 col-form-label sa-input">Contact No:</label>
                            <div class="col-sm-4">
                                <p class="sa-input"> {{ delivery.contactNumber }} </p>
                            </div>
                        </div>
                    </div>
                    <div class="row border-g">
                        <div class="col-md-6">
                            <label for="" class="col-sm-4 col-form-label sa-input">Requested Delivery Date:</label>
                            <div class="col-sm-7">
                                <p class="sa-input"> {{ delivery.deliveryDate | date : "mediumDate" }} </p>
                            </div>
                        </div>
                        <div class="col-md-6" *ngIf="delivery.preferredTimeStr">
                            <label for="" class="col-sm-4 col-form-label sa-input">Preferred Time:</label>
                            <div class="col-sm-7">
                                <p class="sa-input"> {{ delivery.preferredTimeStr }} </p>
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-danger" style="text-align: center" *ngIf="errorMessage">
                        <p *ngFor="let err of errorMessage"> {{ err }} </p>
                    </div>
                    <div class="alert alert-success" style="text-align: center" *ngIf="successMessage">
                        <p>  {{ successMessage }} </p>
                    </div>
                    <!-- Delivery details registation-->
                    <form [formGroup]="updateForm" *ngIf="delivery.deliveryStatus != 1">
                        <div class="row padt20">
                            <label for="" class="col-sm-3 col-form-label sa-input mg-l15">
                                Enter Approved Delivery Date:<span class="ic-red">*</span>
                            </label>
                            <div class="col-sm-3 update-c">
                                <div class="input-group date" id="datetimepicker">
                                    <input type="date" class="form-control" (input)="onChange()" formControlName="approvedDeliveryDate">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                                <show-errors [control]="updateForm.controls.approvedDeliveryDate"></show-errors>
                                <input *ngIf="delivery.showDeliveredButton" type="checkbox" class="form-check-input" formControlName="IsDelivered">
                                <label *ngIf="delivery.showDeliveredButton" class="form-check-label" for="exampleCheck1">mark as Delivered</label>
                            </div>
                        </div>
                        <div class="row padt20">
                            <div class="col-md-6">
                                <label for="" class="col-md-4 col-form-label sa-input">
                                    Name of Driver:<span class="ic-red">*</span>
                                </label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" maxlength="100" (input)="onChange()" formControlName="driverName">
                                    <show-errors [control]="updateForm.controls.driverName"></show-errors>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="" class="col-md-3 col-form-label sa-input">
                                    Plate No.:<span class="ic-red">*</span>
                                </label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" (input)="onChange()" formControlName="plateNumber" maxlength="10">
                                    <show-errors [control]="updateForm.controls.plateNumber"></show-errors>
                                </div>
                            </div>
                        </div>
                        <div class="row padt20">

                        </div>
                    </form>
                    <!-- Delivery details-->
                    <div>
                        <div *ngIf="delivery.deliveryStatus == 1" class="row padt20">
                            <label for="" class="col-sm-3 col-form-label sa-input mg-l15">
                                Enter Approved Delivery Date:<span class="ic-red">*</span>
                            </label>
                            <div class="col-sm-3" *ngIf="delivery.deliveryStatus == 1 && delivery.delivered == 3" [formGroup]="updateForm">
                                <div class="input-group date" id="datetimepicker">
                                    <p> {{ delivery.approvedDeliveryDate | date : "mediumDate" }}  </p>
                                </div>
                                <input *ngIf="delivery.showDeliveredButton" type="checkbox" class="form-check-input" formControlName="IsDelivered">
                                <label *ngIf="delivery.showDeliveredButton" class="form-check-label" for="exampleCheck1">Mark as Delivered</label>
                            </div>
                            <div class="col-sm-3" *ngIf="delivery.deliveryStatus == 1 && delivery.delivered == 1">
                                <div class="input-group date" id="datetimepicker">
                                    <p> {{ delivery.approvedDeliveryDate | date : "mediumDate" }}  </p>
                                </div>
                                <input  type="checkbox" [checked]="true" class="form-check-input">
                                <label  class="form-check-label" for="exampleCheck1">Delivered</label>
                            </div>
                        </div>
                        <div class="row padt20" *ngIf="delivery.deliveryStatus == 1">
                            <div class="col-md-6">
                                <label for="" class="col-md-4 col-form-label sa-input">
                                    Name of Driver:<span class="ic-red">*</span>
                                </label>
                                <div class="col-md-6" style="word-break: break-all">
                                    <p> {{ delivery.driverName }} </p>
                                </div>
                            </div>
                            <div class="col-md-6" *ngIf="delivery.deliveryStatus == 1">
                                <label for="" class="col-md-3 col-form-label sa-input">
                                    Plate No.:<span class="ic-red">*</span>
                                </label>
                                <div class="col-md-6">
                                    <p> {{ delivery.plateNumber }} </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 pad25">
                            <div class="table-responsive table-bordered table_modal">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Serial No.</th>
                                            <th>Item Code</th>
                                            <th>Item Name</th>
                                            <th>Size</th>
                                            <th>Tonality</th>
                                            <th>Qty</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let delItem of delivery.deliveries">
                                            <td> {{ delItem.serialNumber }} </td>
                                            <td> {{ delItem.code }}</td>
                                            <td> {{ delItem.itemName }}</td>
                                            <td> {{ delItem.sizeName }} </td>
                                            <!-- <td> {{ delItem.tonality }} </td> -->
                                            <td> {{ delItem.isTonalityAny == true ? "ANY/ " + delItem.tonality  : delItem.tonality}} </td>
                                            <td> {{ delItem.quantity }}</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer border-n">
                        <button id="btnSave" type="button" (click)="onSubmit()" *ngIf="showSaveBtn" [disabled]="!updateForm.valid" class="btn btn-danger">Save</button>
                        <button id="btnUpdate" *ngIf="delivery.isUpdatable" type="button" (click)="onUpdate()" [disabled]="!updateForm.controls.IsDelivered.value" class="btn btn-danger">Update</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>

                </div><!-- panel-body -->
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>