<div class="container-fluid">
    <!-- breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                                    Transactions
                </li>
                <li class="breadcrumb-item">
                                <a routerLink="/Warehouse/receive_list">Receive Items</a>     
                </li>
                <li class="breadcrumb-item">
                                    From Orders
                </li>
                <li class="breadcrumb-item active">Registration</li>
            </ol>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    
    <div class="row">
        <div class="col-lg-12">
            <h2 class="fw-b m-title m-title2">Registration</h2>
        </div>
    </div>

<form [formGroup]="stockRegistrationForm" (ngSubmit)="onSubmit(stockRegistrationForm.value)" (keydown.enter)="$event.preventDefault()">
        <div class="line2">
            <div class="row">
                <div class="col-lg-12">
                    <div class="btn-con6">
                        <input type="button" name="" class="btn btn-danger" value="Save" data-toggle="modal" data-target="#saveModal" [disabled]="!stockRegistrationForm.valid">
                        <a (click)="goback()" class="btn btn-danger btn-r">Cancel</a>
                    </div>
                  

                    <div>

                         <div *ngIf="statusMessage" class="alert alert-success">
                                               {{statusMessage}}
                        </div >
                        <div *ngIf="statusMessageItem" class="alert alert-success">
                                               {{statusMessageItem}}
                        </div >
                              <ul *ngFor="let err of errorMessage"> 
                                        <div class="alert alert-danger">
                                            {{err}}
                                        </div>
                              </ul>
                    </div>


                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-4">
               <div class="form-group row">
                  <label for="" class="col-sm-4 col-form-label sa-input">PO No.<span class="ic-red">*</span>:</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" maxlength="50"  formControlName="PONumber"  id="po_num" (input)="onChange($event.target.value)">
                         <show-errors [control]="stockRegistrationForm.controls.PONumber"></show-errors>
                    </div>

                </div>
                <div class="form-group row">
                  <label for="" class="col-sm-4 col-form-label sa-input">DR No.<span class="ic-red">*</span>:</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" maxlength="50"   formControlName="DRNumber" id="po_num" (input)="onChange($event.target.value)">
                            <show-errors [control]="stockRegistrationForm.controls.DRNumber"></show-errors>
                    </div>
                </div>
                <!-- <div class="form-group row">
                    <label for="example-text-input" class="col-sm-4 col-form-label sa-input">Return:</label>
                    <div class="input-group date col-sm-7" id="datetimepicker">
                        <label class="checkbox-inline">
                        <input type="checkbox" id="s_return">
                    </label>
                    </div>
                </div> -->
            </div>

            <div class="col-lg-4">
                <div class="form-group row">
                    <label for="example-text-input" class="col-sm-4 col-form-label sa-input">PO Date<span class="ic-red">*</span>:</label>
                    <div class="input-group date col-sm-7" id="datetimepicker" >
                        <input type="date" class="form-control"  formControlName="PODate" (input)="onChange($event.target.value)" >
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                             
                    </div>
                    <show-errors [control]="stockRegistrationForm.controls.PODate"></show-errors>
                </div>
                 <div class="form-group row">
                    <label for="example-text-input" class="col-sm-4 col-form-label sa-input">DR Date<span class="ic-red">*</span>:</label>
                    <div class="input-group date col-sm-7" id="datetimepicker">
                        <input type="date" class="form-control"   formControlName="DRDate" (input)="onChange($event.target.value)">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>

                                       
                    </div>
                    <div class="input-group date col-sm-7">
                             <show-errors [control]="stockRegistrationForm.controls.DRDate"></show-errors>
                    </div>
              
                </div>
                <div class="form-group row">
                    <label for="example-text-input" class="col-sm-4 col-form-label sa-input">Received Date<span class="ic-red">*</span>:</label>
                    <div class="input-group date col-sm-7" id="datetimepicker"  >
                        <input type="date" class="form-control"  formControlName="ReceivedDate" (input)="onChange($event.target.value)">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    <show-errors [control]="stockRegistrationForm.controls.ReceivedDate"></show-errors>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group row">
                    <label for="example-text-input" class="col-sm-4 col-form-label sa-input">Remarks:</label>
                    <div class="col-sm-7">
                        <textarea class="form-control" rows="2"  formControlName="Remarks" (input)="onChange($event.target.value)"></textarea>
                    </div>
                </div>
                <div class="form-group row ap-code" id="approve_code">
                  <label for="" class="col-sm-4 col-form-label sa-input">Approval Code<span class="ic-red">*</span>:</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" name="" (input)="onChange($event.target.value)">
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                 <div class="form-group row">
                    <label for="" class="col-sm-4 col-form-label sa-input">Checked By<span class="ic-red">*</span>:</label>
                    <div class="col-sm-7">
              
                         <select class="form-control" formControlName="userId" (input)="onChange($event.target.value)">
                                                           <option></option>
                                                        <option *ngFor="let opt of useridList" value="{{opt.id}}">{{opt.fullName}}</option>
                                                     
                                                    </select>
                         <show-errors [control]="stockRegistrationForm.controls.userId"></show-errors>
                    </div>
                </div>
            </div>
             <div class="col-lg-4">
                 <div class="form-group row">
                    
                </div>
            </div>

        </div>
        <div class="row grid">
                          
        </div>

       
<div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group row form_code">
                                         <label for="" class="col-sm-4 col-form-label sa-input">Enter Serial No.<span class="ic-red">*</span>:</label>
                                            <div class="col-sm-7">
                                            <input onlyNumber #serialInput [(ngModel)]="serialNumber" type="text" class="form-control" name="" (keyup.enter)="getItemDetailsWithSerial()" [ngModelOptions]="{standalone: true}" id="serial" (input)="onChange($event.target.value)">
                                            <p class="alert alert-danger" *ngIf="serialErrorMessage">  {{ serialErrorMessage }} </p> 
                        
                                        </div>
                                </div>

                            </div>



                        <div class="col-md-4">
                            <div class="form-group row form_code">
                                <label for="" class="col-sm-4 col-form-label sa-input">Item Code:</label>
                                    <div class="col-sm-7" style="padding-top : 4px;">
                                        <select  class="form-control select2" id="itemCode" (change)="onSelectCode()">
                                            <option></option>
                                                <option *ngFor="let opt of itemList" [value]="opt.id"> {{opt.code}} | {{opt.tonality}}  </option>
                                                    </select>
                                                <p class="alert alert-danger" *ngIf="codeErrorMessage">  {{ codeErrorMessage }} </p> 
                                    </div>
                            </div>
                        </div>


                        <div class="col-md-2">
                            <div class="form-group row form_code">
                                <input type="button" name="" class="btn btn-danger" value="Add" (click)="getItemDetailsWithCode()">
                              
                            </div>                       
                        </div>

                        <div class="col-md-2">
                            <div class="form-group row form_code">
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#details_modal" (click)="onBtnViewDetailClick()">Add new Items</button>
                            </div>
                        </div>
    

                </div>
                   
                      <!--  <div class="form-group row form_code">
                                      <label for="" class="col-sm-2 col-form-label sa-input">Enter Serial Number<span class="ic-red">*</span>:</label>
                                        <div class="col-sm-3">
                                            <input myNumberOnly #serialInput [(ngModel)]="code" type="text" class="form-control" name="" (keyup.enter)="getItemDetails()" [ngModelOptions]="{standalone: true}" (input)="onChange($event.target.value)">
                                            <p class="alert alert-danger" *ngIf="codeMessage">  {{ codeMessage }} </p> 
                        
                                        </div>

                                            

                                        <div class="col-sm-4">
                                            <input type="button" name="" class="btn btn-danger" value="Add" (click)="getItemDetails()">
                                        </div>
                        </div> -->



                        
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Serial</th>
                                        <th>Item Code</th>
                                        <th>Item Name</th>
                                        <th>Specification</th>
                                        <th>Tonality</th>
                                        <th>Qty<span class="ic-red">*</span></th>
                                        <th>Reserved Qty</th>
                                        <th>Remarks</th>
                                        <th>Remove</th>
                                    </tr>
                                </thead>
                               
    
     
                                <tbody formArrayName="ReceivedItems">
                                   <tr *ngFor="let item of ReceivedItems.controls; let i=index"  [formGroupName]="i">

                                 <td>
                                       {{itemDetail[i].serialNumber}}
                                     
                                  </td>

                                   <td>
                                    {{itemDetail[i].code}}
                                  
                                  </td>
                                  <td> {{ itemDetail[i].name }} </td>
                                  <td> {{ itemDetail[i].size.name }}</td>
                                    <td> {{ itemDetail[i].tonality }} </td>
                                   <td>
                                     <input type="number" class="form-control" min=0 formControlName="Quantity" onlyNumber>
                                     <show-errors [control]="item.controls.Quantity"></show-errors>
                                  </td>
                                  <td>
                                    <input type="number" class="form-control" min=0 formControlName="ReservedQuantity" onlyNumber>
                                    <show-errors [control]="item.controls.ReservedQuantity"></show-errors>
                                 </td>
                                   <td>
                                     <input class="form-control" formControlName="Remarks"> 
                                  </td>
                                  <td>
                                    <button type="button" name="" class="btn btn-danger" (click)="deleteRow(i)">
                                              <i class="fa fa-times"></i>
                                    </button>
                                  </td>



                                    
                                   
                                 
                                    </tr>
                                  
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="line2">
            <div class="row">
                <div class="col-lg-12">
                    <div class="btn-con6">
                        <input type="button" name="" class="btn btn-danger" value="Save" [disabled]="!stockRegistrationForm.valid" data-toggle="modal" data-target="#saveModal" >
                        <a (click)="goback()" class="btn btn-danger btn-r">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
            
     
        
        <div class="modal fade" id="saveModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myModalLabel">Save</h4>

                    </div>
                    <div class="modal-body">
                        <h5 class="modal-text">Are you sure you want to proceed?</h5>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" name="" class="btn btn-danger" value="Save">
                        <a href="stock_list.html" data-dismiss="modal" class="btn btn-danger btn-r">Cancel</a>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>

             </form>
              <app-item-add2 [Update]="Update" (updatePage)="reloadRecord($event)" (itemSerial)="AddItemToList($event)" (successMessageItem2)="setMessage($event)">></app-item-add2>
                   

 <ng4-loading-spinner [template]="template"> </ng4-loading-spinner>


</div>
<!-- /.container-fluid -->