    <div class="container-fluid">
        <!-- breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        Inventory Management
                    </li>
                    <li class="breadcrumb-item active">Warehouse Inventory</li>
                </ol>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-12">
                <h2 class="fw-b m-title">Warehouse Inventory</h2>

            </div>
        </div>

        <form [formGroup]="searchForm" (ngSubmit)="onSearch()" (keydown.enter)="$event.preventDefault()">
            <div class="row btn-group-holder">
                <div class="col-lg-2">

                    <div class="form-group select_holder">
                        <select class="form-control search-input" formControlName="warehouseId" (change)="onSearch()">
                            <option value="">Select Branch</option>
                            <option *ngFor="let opt of warehouseList" [value]="opt.id"> {{ opt.name }} </option>
                        </select>
                    </div>

                </div>
                <div class="col-lg-10" id="">
                    <div class="input-group">
                        <input class="form-control search-input ng-pristine ng-valid ng-touched" placeholder="Search" type="text" (keyup.enter)="onSearch()" formControlName="keyword">
                        <span class="input-group-btn">
                            <button class="btn btn-danger btn-sr" id="btnSearch" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </form>
        <br/>
        <div class="row">
            <div class="col-md-12">
                <p class="search_status"><b> {{totalRecordMessage}} </b> {{pageRecordMessage}}</p>
            </div>
        </div>
        <br/><br/>
        <div class="row" *ngFor="let warehouse of warehouseInventoryList; let i=index">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading" id="{{i}}" name="warehousePanelHead" (click)="panelCollapse(warehouse.warehouseId,i)">
                        <div class="row">
                            <div class="col-md-6">
                                <p class="search_status"> 
                                    <b> {{ warehouse.warehouseName}} </b> - Total Items : {{ warehouse.itemCount }} ({{ warehouse.totalItems }} pcs.) 
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body collapse" id="warehousePanelBody{{i}}" name="warehousePanelBody">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-6">
                                    <p class="search_status"><b> {{totalRecordMessage2}} </b> {{pageRecordMessage2}}</p>
                                </div>
                                <div class="col-md-6">
                                    <div class="text-right">
                                        <button type="button" class="btn btn-outline btn-danger" data-toggle="modal" data-target="#advanceSearch">Advanced Search</button>
                                        <input type="button" name="" class="btn btn-danger" value="Download List" *ngIf="warehouseItems.length != 0" (click)="downloadList()">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="divItem{{i}}" class="table-responsive table-bordered">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Serial No.</th>
                                        <th>Item Code</th>
                                        <th>Item Name</th>
                                        <th>Size</th>
                                        <th>Tonality</th>
                                        <th>On-hand</th>
                                        <th>For Release</th>
                                        <th>Broken</th>
                                        <th>Available</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of warehouseItems">
                                        <td> {{ item.serialNumber}} </td>
                                        <td> {{ item.code }} </td>
                                        <td> {{ item.itemName }} </td>
                                        <td> {{ item.sizeName }} </td>
                                        <td> {{ item.tonality }} </td>
                                        <td> {{ item.onHand }} </td>
                                        <td> {{ item.forRelease }} </td>
                                        <td> {{ item.broken }} </td>
                                        <td> {{ item.available }} </td>
                                        <td>
                                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#detail_modal" (click)="onBtnDetailClick(item)">Detail</button>
                                        </td>
                                        <td>
                                            <a routerLink="item-history" [queryParams]="{ warehouseId: selectedWarehouse, id : item.itemId }" class="btn btn-danger">Stock History</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <app-pager2 id="item_pager" (displayPageList)="setItemPagination($event)"></app-pager2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <app-pager [module]="module" [defaultFilter]="defaultFilter" [isDefaultFiltereredLoading]="isDefaultFiltereredLoading" (displayPageList)="getwarehouseInventoryList($event)"></app-pager>
            </div> <!-- col-md-12 -->
        </div>

        <!-- modal -->
        <!-- advanced search -->
        <app-si-advanced-search (updatePage)="filterWarehouseItem($event)"></app-si-advanced-search>

        <!-- details modal -->
        <app-si-details [details]="details"></app-si-details>

    </div>
    <!-- /.container-fluid -->