<div class="container-fluid">
    <!-- breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">User Management</a>
                </li>
            </ol>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
            <h2 class="fw-b m-title m-title2">User Management</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 sv-buttons">
            <div class="input-group">
                <input class="form-control search-input" [(ngModel)]="search" (keyup.enter)="filterRecord()" type="text" placeholder="Search">
                <span class="input-group-btn">
                    <button class="btn btn-danger btn-sr" type="button" (click)="filterRecord()">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="search_status"><b> {{totalRecordMessage}} </b> {{pageRecordMessage}}</p>
                        </div>
                        <div class="col-md-6">
                            <div class="text-right">
                                <button type="button" class="btn btn-danger addNew" data-toggle="modal" data-target="#add_new_modal">Add New User</button>
                                <input type="button" name="" class="btn btn-danger" value="Download List" *ngIf="userList.length != 0" (click)="downloadUserList()">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel-body">
                    <div class="table-responsive table-bordered">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>User Name</th>
                                    <th>Full Name</th>
                                    <th>Assgined To</th>
                                    <th>Last Login</th>
                                    <th>Level</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of userList">
                                    <td> {{ user.userName }} </td>
                                    <td> {{ user.fullName }} </td>
                                    <td> {{ user.assignmentStr }}</td>
                                    <td> NO FIELD</td>
                                    <td> {{ user.userTypeStr }} </td>
                                    <td>
                                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#update_modal"
                                        (click)="onBtnUpdateClick(user)">Update</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-12">

            <app-pager [module]="module" (displayPageList)="getUsers($event)"></app-pager>

            <div class="row">
                <div class="col-md-12 btn-con6">
                    <input type="submit" name="" class="btn btn-danger" value="Download List" *ngIf="userList.length != 0" (click)="downloadUserList()">
                </div>
            </div>

        </div> <!-- col-md-12 -->

    </div>

    <!-- modal -->
    <div class="row">
        <!-- advance search modal -->
        <div class="modal fade" id="advanceSearch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myModalLabel">Company Advanced Search</h4>

                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label for="" class="col-sm-3 col-form-label sa-input">Store:</label>
                                    <div class="col-sm-6">
                                        <select class="form-control">
                                            <option>ABC</option>
                                            <option>DEF</option>
                                            <option>GHK</option>
                                            <option>LMO</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="" class="col-sm-3 col-form-label sa-input">OR Number:</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" name="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="" class="col-sm-3 col-form-label sa-input">Customer Name:</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" name="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="" class="col-sm-3 col-form-label sa-input">Item Code:</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" name="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="" class="col-sm-3 col-form-label sa-input">Status:</label>
                                    <div class="col-sm-6">
                                        <div class="checkbox s-check">
                                            <input id="checkbox2" type="checkbox">
                                            <label for="checkbox2">New Order</label><br>
                                            <input id="checkbox3" type="checkbox">
                                            <label for="checkbox3">For Delivery</label><br>
                                            <input id="checkbox4" type="checkbox">
                                            <label for="checkbox4">Delivered</label><br>
                                            <input id="checkbox4" type="checkbox">
                                            <label for="checkbox4">Cancelled</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="" class="col-sm-3 col-form-label sa-input">List Option:</label>
                                    <div class="col-sm-6">
                                        <select class="form-control">
                                            <option>By OR</option>
                                            <option>BY PO</option>
                                            <option>BY DR</option>
                                        </select>
                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <input type="submit" name="" class="btn btn-danger" value="Search">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>

        <!-- add new modal -->
        <app-user-add (updatePage)="reloadRecord($event)"></app-user-add>
        <!-- details modal -->
        <app-user-update [id]="selectedId" [username]="selectedUsername"  [updateUserForm]="updateForm"  (updatePage)="reloadRecord($event)" ></app-user-update>

    </div>
</div>