    <div class="container-fluid">
        <!-- breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                       Transactions
                    </li>
                    <li class="breadcrumb-item active">Returns</li>
                </ol>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-12">
                <h2 class="fw-b m-title m-title2">Returns</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="btn-con7">

                    <div class="btn-group">
                        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-plus fa-fw"></i> Create Return Request
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a routerLink="client_return_list" class=""><i class="fa fa-user fa-fw"></i> Client Return</a>
                            </li>
                            <li>
                                <a routerLink="purchase_return" class=""><i class="fa fa-cart-arrow-down  fa-fw"></i> RTV/Purchase Returns</a>
                            </li>
                            <li>
                              <a routerLink="breakage" class=""><i class="fa fa-briefcase fa-fw"></i> Breakage</a>
                            </li>
                        </ul>
                    </div>
                    <button type="button" class="btn btn-outline btn-danger g-fr" data-toggle="modal" data-target="#advanceSearch" (click)="onBtnAdvanceSearchClick()"><i class="fa fa-search fa-fw"></i> Advanced Search</button>
                </div>
                 <div *ngIf="errorMessage">
                    <ul *ngFor="let err of errorMessage"> 
                                        <div class="alert alert-danger">
                                            {{err}}
                                        </div>
                              </ul>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-6">
                                <p class="search_status"><b> {{totalRecordMessage}} </b> {{pageRecordMessage}}</p>
                            </div>
                            <div class="col-md-6">
                                <div class="text-right">
                                    <input type="button" name="" *ngIf="returnList.length != 0" class="btn btn-danger" value="Download List" (click)="downloadList()">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="panel-body">
                    <div class="table-responsive table-bordered">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Transaction No.</th>
                                    <th>RF No.</th>
                                    <th>Return Type</th>
                                    <th>Request Date</th>
                                    <th>Return To</th>
                                    <th>Status</th>
                                    <th>Return Status</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let return of returnList">
                                    <td> {{ return.transactionNo }} </td>
                                    <td> {{ return.returnFormNumber }} </td>
                                    <td> {{ return.returnTypeStr }} </td>
                                    <td> {{ return.requestDate | date : "mediumDate" }} </td>
                                    <td> {{ return.returnedTo }} </td>
                                    <td> {{ return.requestStatusStr }} </td>
                                    <td> {{ return.orderStatusStr }} </td>
                                    <td> {{ return.testStatusStr }} </td>
                                    <td> </td>
                                    <td>
                                        <a *ngIf="(return.requestStatus == 1 && return.returnType == 1) || (return.requestStatus == 2 && return.returnType == 3)" routerLink="delivery_request/{{return.id}}" class="btn btn-danger btn-r">Delivery</a>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#rtv_modal" (click)="onBtnDetailsClick(return)">Details</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <app-pagernew [module]="module" [Keyword]="Keyword" (displayPageList)="getReturns($event)"></app-pagernew>
            <div class="row">
                <div class="col-md-12 btn-con6">
                    <input type="button" name="" *ngIf="returnList.length != 0" class="btn btn-danger" value="Download List" (click)="downloadList()">
                </div>
            </div>
            <app-return-advanced-search (aSearch)="filterRecordWithParam($event)"></app-return-advanced-search>
            <app-return-details [details]="details"></app-return-details>
        </div>
    </div>
    <!-- /.container-fluid -->
