<div class="modal fade" id="advanceSearch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title" id="myModalLabel">Interbranch/Intercompany Advanced Search</h4>

                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label for="" class="col-sm-3 col-form-label sa-input">Order By:</label>
                                        <div class="col-sm-6">
                                            <select formControlName="orderedBy" class="form-control" id="s-select">
                                                <option></option>
                                                <option *ngFor="let opt of storeList" [value]="opt.id"> {{opt.name}} </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="" class="col-sm-3 col-form-label sa-input">Transaction No.:</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" formControlName="transactionNo">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="" class="col-sm-3 col-form-label sa-input">Order Period:</label>
                                        <div class="col-sm-6">
                                            <div class="input-group date" id="datetimepicker">
                                                <input type="date" class="form-control" formControlName="poDateFrom">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                            <label for="" class="col-form-label sa-input">To</label>
                                            <div class="input-group date" id="datetimepicker">
                                                <input type="date" class="form-control" formControlName="poDateTo">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="" class="col-sm-3 col-form-label sa-input">Relation:</label>
                                        <div class="col-sm-6">
                                            <div class="checkbox ad_search" *ngFor="let opt of storeCompanyRelationList; let i=index">
                                                <input id="chkStoreCompanyRelation{{i}}" name="chkStoreCompanyRelation" type="checkbox" [value]="opt.value" (click)="chkEvent($event)">
                                                <label for="checkbox2"> {{ opt.name }} </label><br>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="" class="col-sm-3 col-form-label sa-input"> Request Status:</label>

                                          <div class="col-sm-6">
                                              <div class="checkbox ad_search" *ngFor="let opt of requestStatusList; let i=index">
                                                  <input  id="chkRequestStatus{{i}}" name="chkRequestStatus" [checked]="opt.value == 2" type="checkbox" [value]="opt.value" (click)="chkEventRequest($event)">
                                                  <label for="checkbox2"> {{ opt.name }} </label><br>
                                              </div>
                                          </div>
                                      </div>
                                    <div class="form-group row">
                                        <label for="example-text-input" class="col-sm-3 col-form-label sa-input"></label>

                                    </div>



                                </div>
                            </div>

                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" (click)="onClear()">Clear</button>
                            <input type="submit" name="" class="btn btn-danger" value="Search">
                            <button type="button" class="btn btn-default" (click)="onCancel()" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                    </form>
                </div>
                <!-- /.modal-dialog -->
            </div>