      <div class="modal fade" id="uclient_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                        <div *ngIf="showRoomDeliveryItems" class="modal-dialog modal-lg modal-xlg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h4 class="modal-title" id="myModalLabel">Showroom Delivery Details</h4>

                                </div>
                                <form method="post">
                                    <div class="modal-body">
<!--
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                  <label for="" class="col-sm-4 col-form-label sa-input">Expected Delivery Date<span class="ic-red">*</span>:</label>
                                                    <div class="col-sm-6">
                                                        <div class="input-group date" id="datetimepicker">
                                                        <input type="text" class="form-control" id="wadeliveryDate">
                                                            <span class="input-group-addon">
                                                                <span class="glyphicon glyphicon-calendar"></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                  <label for="" class="col-sm-4 col-form-label sa-input">SI No.<span class="ic-red">*</span>:</label>
                                                    <div class="col-sm-6">
                                                        <input type="text" class="form-control" value="P00001" disabled>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                  <label for="" class="col-sm-4 col-form-label sa-input">OR No.<span class="ic-red">*</span>:</label>
                                                    <div class="col-sm-6">
                                                        <input type="text" class="form-control" value="OR00001" disabled>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                  <label for="" class="col-sm-4 col-form-label sa-input">DR No.<span class="ic-red">*</span>:</label>
                                                    <div class="col-sm-6">
                                                        <input type="text" class="form-control" value="D00001" disabled>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                  <label for="" class="col-sm-4 col-form-label sa-input">Preferred Time:</label>
                                                    <div class="col-sm-6">
                                                        <div class="radio">
                                                            <label>
                                                                <input type="radio" name="radio" id="radio1" value="" checked="">Morning
                                                            </label>
                                                        </div>
                                                        <div class="radio">
                                                            <label>
                                                                <input type="radio" name="radio" id="radio2" value="">Afternoon
                                                            </label>
                                                        </div>
                                                        <div class="radio">
                                                            <label>
                                                                <input type="radio" name="radio" id="radio3" value="">Evening
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                  <label for="" class="col-sm-4 col-form-label sa-input">Client's Name:</label>
                                                    <div class="col-sm-6">
                                                        <input type="text" class="form-control" value="Juan Cruz" disabled>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                  <label for="" class="col-sm-4 col-form-label sa-input">Address:</label>
                                                    <div class="col-sm-6">
                                                        <input class="form-control address" placeholder="" name="" type="text" value="Blk 14 13th Avenue" disabled>
                                                        <input class="form-control address" placeholder="" name="" type="text" value="West Rembo" disabled>
                                                        <input class="form-control " placeholder="" name="" type="text" value="Makati City" disabled>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                  <label for="" class="col-sm-4 col-form-label sa-input">Contact Details:</label>
                                                    <div class="col-sm-6">
                                                        <input type="text" class="form-control" value="7586721" disabled>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                  <label for="" class="col-sm-4 col-form-label sa-input">Remarks:</label>
                                                    <div class="col-sm-6">
                                                        <textarea class="form-control" rows="4" disabled></textarea>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
-->
                                        
                                        
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p class="sa-input fb">Item Summary</p>
                                                <div class="table-responsive table-bordered">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>Item Code</th>
                                                                <th>Item Name</th>
                                                                <th>Size</th>
                                                                <th>Tonality</th>
                                                                <th>Qty</th>
                                                               
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let items of showRoomDeliveryItems">
                                                                <td>{{items.item.code}}</td>
                                                                <td>{{items.item.name}}</td> 
                                                                <td>{{items.item.size.name}}</td> 
                                                                <!-- <td>{{items.item.tonality}}</td> -->
                                                                <td>{{items.isTonalityAny == true ? "ANY / " + items.item.tonality : items.item.tonality }}</td>
                                                                <td>{{items.quantity}}</td>
                                                              
                                                            </tr>
                                                        
                                                        </tbody>
                                                    </table>  
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>

                                </form>

                                
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>