  <!--<div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="m-logo">
                                <img src="assets/images/logoX130.png"> 
                            </div>
                        </div>
                       
                            <fieldset>
                                
                           
                               
                                <div align="center">
                                    <div *ngIf="redirectTo">
                                        <div class="alert alert-danger">
                                            <p align="center">You are not authorize to access this page</p>
                                        </div>
                                        <a href="{{redirectTo}}">Go back to Page assigned</a>
                                    </div>
                                    <div *ngIf="redirectTo == null">
                                        <div class="alert alert-danger">
                                            <p align="center">Your session has expired. Please login to continue.</p>
                                        </div>
                                        <a href="login" class="btn btn-md btn-danger btn-block">Back to Login</a> 
                                    </div>
                                 
                                </div>
                              
                            </fieldset>
                   
                    </div>
                </div>
            </div>
        </div>
</div>


 Page Content -->
       
            <div class="container-fluid">
                <!-- breadcrumbs -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="error">
                                <div *ngIf="redirectTo">
                                    <h1>401</h1>
                                    <h3>Unauthorized Access</h3>
                                    <p>You are unauthorized to access this page.<br>
                                    </p>
                                       <a href="{{redirectTo}}" class="btn btn-danger">Go to the Assigned Page <i class="fa fa-angle-right"></i></a> 
                                </div>
                                <div *ngIf="redirectTo == null">
                                     
                                     <p align="center">Your session has expired. Please login to continue.</p>
                                     
                                        <a href="login" class="btn btn-danger">Back to Login <i class="fa fa-angle-right"></i></a> 
                                </div>
                         
                        </div>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->




            </div>
            <!-- /.container-fluid -->
  
