<div class="modal fade" id="product_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;"  *ngIf="updateStoreForm">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Store Details</h4>
            </div>
            <form [formGroup]="updateStoreForm" (ngSubmit)="onSubmit(updateStoreForm)">
                <div class="modal-body">
                    <div class="alert alert-danger" style="text-align: center" *ngIf="errorMessage">
                        <p *ngFor="let err of errorMessage"> {{ err }} </p>
                    </div>
                    <div class="alert alert-success" style="text-align: center" *ngIf="successMessage">
                        <p>  {{ successMessage }} </p>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="sv-mitems2">
                                <ul class="list-inline">
                                    <li><label>Store Code:</label></li>
                                    <li> {{code}} </li>
                                </ul>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-form-label sa-input">Store Name: </label>
                                <div class="col-sm-8">
                                    <input class="form-control sv-input" type="text" formControlName="Name" name="Name" > 
                                            <show-errors [control]="updateStoreForm.controls.Name"></show-errors>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-form-label sa-input">Address:</label>
                                <div class="col-sm-8">
                                    <input class="form-control sv-input" type="text" formControlName="Address" name="Address" >
                                     <show-errors [control]="updateStoreForm.controls.Address"></show-errors>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-form-label sa-input">Contact Number:</label>
                                <div class="col-sm-8 modal-icon2">
                                    <input class="form-control sv-input" type="text" formControlName="ContactNumber" name="ContactNumber" >
                                    <show-errors [control]="updateStoreForm.controls.ContactNumber"></show-errors>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-4 col-form-label sa-input">Company:</label>
                                <div class="col-sm-8 modal-icon">
                                    <select class="form-control" formControlName="CompanyId" name="CompanyId">
                                        <option></option>
                                        <option *ngFor="let opt of companyList"  [value]="opt.id"> {{ opt.name }} </option>
                                    </select>
                                    <show-errors [control]="updateStoreForm.controls.CompanyId"></show-errors>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="example-text-input" class="col-sm-4 col-form-label sa-input">Source:</label>
                                <div class="col-sm-8 check_inline modal-icon">
                                    <label class="checkbox-inline">
                                        <input type="radio" class="sv-radio">Branch
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="radio" class="sv-radio">Dealer
                                    </label>
                                </div>
                                               
                            </div>

                            <div class="form-group">
                                <label for="" class="col-sm-4 col-form-label sa-input">Default Warehouse:</label>
                                <div class="col-sm-8 modal-icon">
                                    <select class="form-control" formControlName="WarehouseId" name="WarehouseId">
                                        <option></option>
                                        <option *ngFor="let opt of warehouseList" [value]="opt.id"> {{ opt.name }} </option>
                                    </select>
                                </div>
                                <show-errors [control]="updateStoreForm.controls.WarehouseId"></show-errors>
                            </div>

                        </div>

                    </div>

                </div>
            <div class="modal-footer">
                <input type="submit" name="" class="btn btn-danger" value="Save">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>