    <div class="container-fluid" *ngIf="details">
        <!-- breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">Transactions</li>
                    <li class="breadcrumb-item">
                        <a routerLink="/Store/sales">Sales Order</a>
                    </li>
                    <li class="breadcrumb-item active">Add Delivery</li>
                </ol>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-12">
                <h2 class="fw-b m-title m-title2">Add Delivery</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="btn-group">
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#add_client_modal" *ngIf="details.remainingForDelivery != 0" (click)="addClientDelivery()"><i class="fa fa-plus fa-fw"></i>  {{ details.deliveryType == 1 ? 'Add Pickup Date' : 'Add Client Delivery' }}</button>
                </div>
            </div>
        </div>
        <br/>

        <div class="line">
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group row">
                        <label for="" class="col-sm-4 col-form-label sa-input">SI No.:</label>
                        <div class="col-sm-7">
                            <p class="sa-input"> {{ details.siNumber }} </p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-4 col-form-label sa-input">OR No.:</label>
                        <div class="col-sm-7">
                            <p class="sa-input"> {{ details.orNumber }} </p>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4">
                    <div class="form-group row">
                        <label for="" class="col-sm-4 col-form-label sa-input">DR No.:</label>
                        <div class="col-sm-7">
                            <p class="sa-input"> {{ details.drNumber }} </p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-sm-4 col-form-label sa-input">Customer Name:</label>
                        <div class="col-sm-7">
                            <p class="sa-input"> {{ details.clientName }} </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="form-group row">
                        <label for="example-text-input" class="col-sm-4 col-form-label sa-input">Sales Date:</label>
                        <div class="col-sm-7">
                            <p class="sa-input"> {{ details.salesDate | date : "mediumDate" }}</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-sm-4 col-form-label sa-input">Remarks:</label>
                        <div class="col-sm-7">
                            <p class="sa-input"> {{ details.remarks }} </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>



        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">

                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>DR No.</th>
                                        <th>Requested Delivery Date</th>
                                        <th>Approved Delivery Date</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let del of details.deliveries">
                                        <td> {{ del.drNumber }} </td>
                                        <td> {{ del.deliveryDate | date : "mediumDate" }} </td>
                                        <td> {{ del.approvedDeliveryDate | date : "mediumDate" }} </td>
                                        <td> {{ del.releaseStatusStr }} </td>
                                        <td>
                                             <button type="button" class="btn btn-danger btn-r" data-toggle="modal" data-target="#uclient_modal" (click)="onBtnDetailsClick(del)"> Details </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Add Client modal -->
        <app-so-delivery-add-client [details]="details" [newForm]="newForm" (updatePage)="reloadRecord($event)"></app-so-delivery-add-client>


        <!-- Details modal -->
        <app-so-delivery-details [details]="salesDeliveryDetails"></app-so-delivery-details>


    </div>