<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <UseMsDeployExe>true</UseMsDeployExe>
    <EnableMSDeployAppOffline>true</EnableMSDeployAppOffline>
  </PropertyGroup>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>MSDeploy</PublishProvider>
    <LastUsedBuildConfiguration>Test</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://floorcenter-batch.malamok.ivp.co.jp/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <TargetFramework>netcoreapp2.0</TargetFramework>
    <ProjectGuid>d8a88795-9fe3-4ea7-ac56-b4074f5f5b6a</ProjectGuid>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>floorcenter-batch</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <DeleteExistingFiles>False</DeleteExistingFiles>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <AllowUntrustedCertificate>True</AllowUntrustedCertificate>
    <!--<UserName>ivpguser</UserName>
    <Password>P@ssw0rd2017</Password>-->
    <_SavePWD>False</_SavePWD>
  </PropertyGroup>
  <!--<ItemGroup>
    <Content Update="wwwroot\\log4net.config" CopyToPublishDirectory="Never" />
  </ItemGroup>-->

  <!--<ItemGroup>
    <MsDeploySkipRules Include="CustomSkipFile">
    <SkipAction>Delete</SkipAction>
    <ObjectName>filePath</ObjectName>
    <AbsolutePath>Web.Test.config</AbsolutePath>
    </MsDeploySkipRules>
  </ItemGroup>-->

  <!--<Target Name="CustomActionsBeforePublish" BeforeTargets="BeforePublish">
    <Message Text="Actions BeforePublish" Importance="high" />
    <ItemGroup>
      <Compile Remove="Web.Test.config" />
      <Content Remove="Web.Test.config" />
      <EmbeddedResource Remove="Web.Test.config" />
      <None Remove="Web.Test.config" />
    </ItemGroup>
  </Target>-->

  <Target Name="AddCustomSkipRules">
    <Message Text="Adding Custom Skip Rules" />
    <ItemGroup>
      <MsDeploySkipRules Include="CustomSkipFolder">
        <ObjectName>dirPath</ObjectName>
        <AbsolutePath>log\\.*$</AbsolutePath>
      </MsDeploySkipRules>
    </ItemGroup>
  </Target>
  
  <Target Name="CustomActionsAfterPublish" AfterTargets="AfterPublish">
    <Message Text="Actions AfterPublish" Importance="high" />
  </Target>
  
  <Target Name="CustomActionsBeforePublish" BeforeTargets="BeforePublish">
    <Message Text="Actions BeforePublish" Importance="high" />
  </Target>
  
  <Target Name="RemoveContentPublish" BeforeTargets="_PrepareForMsDeployPublish">
    <Message Text="Removing Config" />
    <Delete Files="$(PublishDir)Web.Test.config;$(PublishDir)Web.Production.config" />
  </Target>
</Project>