<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <UseMsDeployExe>true</UseMsDeployExe>
    <EnableMSDeployAppOffline>true</EnableMSDeployAppOffline>
  </PropertyGroup>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>MSDeploy</PublishProvider>
    <LastUsedBuildConfiguration>Test</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://52.163.242.126/Main</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <TargetFramework>netcoreapp2.0</TargetFramework>
    <ProjectGuid>d8a88795-9fe3-4ea7-ac56-b4074f5f5b6a</ProjectGuid>
    <MSDeployServiceURL>https://52.163.242.126:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>api-batch</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <DeleteExistingFiles>False</DeleteExistingFiles>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <AllowUntrustedCertificate>True</AllowUntrustedCertificate>
    <UserName>ivpguser</UserName>
    <Password>P@ssw0rd2017</Password>
    <_SavePWD>False</_SavePWD>
  </PropertyGroup>
  
  <Target Name="RemoveContentPublish" BeforeTargets="_PrepareForMsDeployPublish">
    <Message Text="Removing Config" />
    <Delete Files="$(PublishDir)Web.Test.config;$(PublishDir)Web.Production.config" />
  </Target>
</Project>