<div class="modal fade" id="add_size" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;" *ngIf="newSizeForm">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Add New Size </h4>

            </div>
            <form [formGroup]="newSizeForm" (ngSubmit)="onSubmit()">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-danger" style="text-align: center" *ngIf="errorMessage">
                                <p *ngFor="let err of errorMessage"> {{ err }} </p>
                            </div>
                            <div class="alert alert-success" style="text-align: center" *ngIf="successMessage">
                                <p>  {{ successMessage }} </p>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-3 col-form-label sa-input">Size<span class="ic-red">*</span>:</label>
                                <div class="col-sm-9">
                                    <input class="form-control sv-input" type="text" formControlName="Name" (input)="onChange($event.target.value)">
                                    <show-errors [control]="newSizeForm.controls.Name"></show-errors>
                                </div>

                            </div>


                    </div>

                </div>
            </div>

                <div class="modal-footer">
                    <input type="submit" [disabled]="newSizeForm.status == 'INVALID'" class="btn btn-danger" value="Save">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
