    <div class="container-fluid">
        <!-- breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">Transactions</li>
                    <li class="breadcrumb-item active">Sales Orders</li>
                </ol>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-12">
                <h2 class="fw-b m-title m-title2">Sales Orders</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="btn-group">
                    <a routerLink="new_sales_order" class="btn btn-danger">
                        <i class="fa fa-plus fa-fw"></i> Add New Sales Order
                    </a>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                                <div class="col-md-6">
                                <p class="search_status"><b> {{totalRecordMessage}} </b> {{pageRecordMessage}}</p>
                            </div>
                            <div class="col-md-6">
                                <div class="text-right">
                                    <button type="button" class="btn btn-outline btn-danger" data-toggle="modal" data-target="#advanceSearch">Advanced Search</button>
                                    <input type="button" name="" class="btn btn-danger" value="Download List" *ngIf="salesOrderList.length != 0" (click)="downloadList()">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive table-bordered">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Transaction No.</th>
                                        <th>SI No.</th>
                                        <th>Sales Date</th>
                                        <th>Customer Name</th>
                                        <th>Delivery Mode</th>
                                        <th>Order Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let so of salesOrderList">
                                        <td> {{ so.transactionNo }}</td>
                                        <td> {{ so.siNumber }} </td>
                                        <td> {{ so.salesDate | date : "mediumDate"  }} </td>
                                        <td> {{ so.clientName }} </td>
                                        <td> {{ so.deliveryTypeStr }} </td>
                                        <td> {{ so.orderStatusStr}}</td>
                                        <td> {{ so.testStatusStr}}</td>
                                        <td *ngIf="so.orderStatus == 1">
                                            <a routerLink="order_details/{{so.id}}" class="btn btn-danger">Details</a>
                                        </td>
                                        <td *ngIf="so.orderStatus != 1">
                                            <a routerLink="order_details/{{so.id}}" class="btn btn-danger"> {{so.deliveryType == 1 ? 'Pick up' : 'Delivery'}}</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            
            <div class="col-md-12">

                <app-pagernew [module]="module" [Keyword]="Keyword" (displayPageList)="getSalesOrder($event)"></app-pagernew>

                <div class="row">
                    <div class="col-md-12 btn-con6">
                        <input type="button" name="" *ngIf="salesOrderList.length != 0" class="btn btn-danger" value="Download List" (click)="downloadList()">
                    </div>
                </div>

            </div> <!-- col-md-12 -->
        </div>

        <!-- modal -->
        <!-- advance search -->
        <app-so-advanced-search (updatePage)="filterRecordWithParam($event)"></app-so-advanced-search>


    </div>
    <!-- /.container-fluid -->