    <div class="container-fluid">
        <!-- breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">Inventory Management</li>
                    <li class="breadcrumb-item"><a routerLink="/Main/store_inventory_list">Store Inventory</a></li>
                    <li class="breadcrumb-item active">Store Stock History List</li>
                </ol>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <div class="row" *ngIf="itemDetails">
            <div class="col-lg-12">
                <h2 class="fw-b m-title">Store Stock History List</h2>
                <label for="" class="col-form-label dh-title">Item Code:  {{ itemDetails.code }} </label>
                <div class="input-group">

                    <input class="form-control search-input" type="text" placeholder="Search" [(ngModel)]="search" (keyup.enter)="filterRecord()">
                    <span class="input-group-btn">
                        <button class="btn btn-danger btn-sr" type="button" (click)="filterRecord()">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-6">
                                        <p class="search_status"><b> {{totalRecordMessage}} </b> {{pageRecordMessage}}</p>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="text-right">
                                            <input type="button" name="" class="btn btn-danger" value="Download List" *ngIf="historyList.length != 0" (click)="downloadList()">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel-body">
                                <div class="table-responsive table-bordered">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Transaction No.</th>
                                                <th>PO No.</th>
                                                <th>TOR / DR No.</th>
                                                <th>SI No.</th>
                                                <th>Origin</th>
                                                <th>Destination</th>
                                                <th>Transaction Date</th>
                                                <th>Stock</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let record of historyList">

                                                <td  class={{record?.class}}> {{ record.transactionNo }} </td>
                                                <td  class={{record?.class}}> {{ record.poNumber }} </td>
                                                <td  class={{record?.class}}> {{ record.drNumber }} </td>
                                                <td  class={{record?.class}}> {{ record.siNumber }} </td>
                                                <td  class={{record?.class}}> {{ record.origin }} </td>
                                                <td  class={{record?.class}}> {{ record.destination }} </td>
                                                <td  class={{record?.class}}> {{ record.transactionDate | date : "medium" }} </td>
                                                <td  class={{record?.class}}> {{ record.stock }} </td>    

                                            </tr>
                                            <tr>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                                <td> <b> On-Hand </b> </td>
                                                <td> <b> {{ onHand }} </b> </td>    
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <app-pager [module]="module" [defaultFilter]="defaultFilter" [isDefaultFiltereredLoading]="isDefaultFiltereredLoading" (displayPageList)="getHistoryList($event)"></app-pager>

                        <div class="row">
                            <div class="col-md-12 btn-con6">
                                <input type="button" name="" *ngIf="historyList.length != 0" class="btn btn-danger" value="Download List" (click)="downloadList()">
                            </div>
                        </div>
                    </div> <!-- col-md-12 -->
                </div>
            </div>
        </div>


    </div>
    <!-- /.container-fluid -->