    <div class="container-fluid">
                <!-- breadcrumbs -->
                <div class="row">
                    <div class="col-lg-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                              <a href="#">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item active">My Dashboard</li>
                        </ol>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                
                <!-- items / cards -->

                <div class="row">
                    <!-- <div class="col-lg-3 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-cart-plus fa-5x dh-icon"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="dh-title">New Items</div>
                                        <div>
                                            <p class="huge">3000</p>
                                            <p class="sub-text">pcs</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="panel-fa">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div> -->
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-red">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-table fa-fw fa-5x dh-icon"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="dh-title">Total On-Stock</div>
                                        <div>
                                            <p class="huge">3000</p>
                                            <p class="sub-text">pcs</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="panel-fa">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-yellow">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-warning fa-5x dh-icon"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="dh-title">Out of Stocks</div>
                                        <div>
                                            <p class="huge">200</p>
                                            <p class="sub-text">items</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="panel-fa">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- <div class="col-lg-3 col-md-6">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-ban fa-5x dh-icon"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="dh-title">Damaged Stocks</div><div>
                                            <p class="huge">20</p>
                                            <p class="sub-text">pcs</p>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="panel-fa">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div> -->

                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <h4 class="">Weekly Store Sales Activity</h4>
                        <div class="ct-chart ct-golden-section"></div>
                    </div>
                    <div class="col-lg-6">
                        <h4 class="">Weekly Warehouse Sales Activity</h4>
                        <div class="ct-chart2 ct-golden-section"></div>
                    </div>
                </div>

                <!-- tabs -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading fw-b">
                                Fast-moving Stocks
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#week" data-toggle="tab">Week</a>
                                    </li>
                                    <li><a href="#month" data-toggle="tab">Month</a>
                                    </li>
                                    <li><a href="#year" data-toggle="tab">Year</a>
                                    </li>
                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div class="tab-pane fade in active" id="week">
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Rank</th>
                                                        <th>Item Code</th>
                                                        <th>Item Name</th>
                                                        <th>Size</th>
                                                        <th>Tonality</th>
                                                        <th>Sales (PCS)</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>AK6004C</td>
                                                        <td>Superblack 3060</td>
                                                        <td>30x60</td>
                                                        <td>Dark</td>
                                                        <td>700</td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>AK5236A</td>
                                                        <td>Stone Gray 520</td>
                                                        <td>30x60</td>
                                                        <td>Light</td>
                                                        <td>500</td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td>GY5588A</td>
                                                        <td>Name1</td>
                                                        <td>30x60</td>
                                                        <td>Light</td>
                                                        <td>400</td>
                                                    </tr>
                                                    <tr>
                                                        <td>4</td>
                                                        <td>AK5225A</td>
                                                        <td>Name2</td>
                                                        <td>30x60</td>
                                                        <td>Light</td>
                                                        <td>300</td>
                                                    </tr>
                                                    <tr>
                                                        <td>5</td>
                                                        <td>A45225B</td>
                                                        <td>Name3</td>
                                                        <td>30x60</td>
                                                        <td>Light</td>
                                                        <td>100</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="month">
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Rank</th>
                                                        <th>Item Code</th>
                                                        <th>Item Name</th>
                                                        <th>Size</th>
                                                        <th>Tonality</th>
                                                        <th>Sales (PCS)</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>AK6004C</td>
                                                        <td>Superblack 3060</td>
                                                        <td>30x60</td>
                                                        <td>Dark</td>
                                                        <td>700</td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>AK5236A</td>
                                                        <td>Stone Gray 520</td>
                                                        <td>30x60</td>
                                                        <td>Light</td>
                                                        <td>500</td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td>GY5588A</td>
                                                        <td>Name1</td>
                                                        <td>30x60</td>
                                                        <td>Light</td>
                                                        <td>400</td>
                                                    </tr>
                                                    <tr>
                                                        <td>4</td>
                                                        <td>AK5225A</td>
                                                        <td>Name2</td>
                                                        <td>30x60</td>
                                                        <td>Light</td>
                                                        <td>300</td>
                                                    </tr>
                                                    <tr>
                                                        <td>5</td>
                                                        <td>A45225B</td>
                                                        <td>Name3</td>
                                                        <td>30x60</td>
                                                        <td>Light</td>
                                                        <td>100</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="year">
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Rank</th>
                                                        <th>Item Code</th>
                                                        <th>Item Name</th>
                                                        <th>Size</th>
                                                        <th>Tonality</th>
                                                        <th>Sales (PCS)</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>AK6004C</td>
                                                        <td>Superblack 3060</td>
                                                        <td>30x60</td>
                                                        <td>Dark</td>
                                                        <td>700</td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>AK5236A</td>
                                                        <td>Stone Gray 520</td>
                                                        <td>30x60</td>
                                                        <td>Light</td>
                                                        <td>500</td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td>GY5588A</td>
                                                        <td>Name1</td>
                                                        <td>30x60</td>
                                                        <td>Light</td>
                                                        <td>400</td>
                                                    </tr>
                                                    <tr>
                                                        <td>4</td>
                                                        <td>AK5225A</td>
                                                        <td>Name2</td>
                                                        <td>30x60</td>
                                                        <td>Light</td>
                                                        <td>300</td>
                                                    </tr>
                                                    <tr>
                                                        <td>5</td>
                                                        <td>A45225B</td>
                                                        <td>Name3</td>
                                                        <td>30x60</td>
                                                        <td>Light</td>
                                                        <td>100</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading fw-b">
                                Slow-moving Stocks
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#week2" data-toggle="tab">Week</a>
                                    </li>
                                    <li><a href="#month2" data-toggle="tab">Month</a>
                                    </li>
                                    <li><a href="#year2" data-toggle="tab">Year</a>
                                    </li>
                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div class="tab-pane fade in active" id="week2">
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Rank</th>
                                                        <th>Item Code</th>
                                                        <th>Item Name</th>
                                                        <th>Size</th>
                                                        <th>Tonality</th>
                                                        <th>Sales (PCS)</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>AK6004C</td>
                                                        <td>Superblack 3060</td>
                                                        <td>30x60</td>
                                                        <td>Dark</td>
                                                        <td>0</td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>AK5236A</td>
                                                        <td>Stone Gray 520</td>
                                                        <td>30x60</td>
                                                        <td>Light</td>
                                                        <td>0</td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td>GY5588A</td>
                                                        <td>Name1</td>
                                                        <td>30x60</td>
                                                        <td>Light</td>
                                                        <td>1</td>
                                                    </tr>
                                                    <tr>
                                                        <td>4</td>
                                                        <td>AK5225A</td>
                                                        <td>Name2</td>
                                                        <td>30x60</td>
                                                        <td>Light</td>
                                                        <td>2</td>
                                                    </tr>
                                                    <tr>
                                                        <td>5</td>
                                                        <td>A45225B</td>
                                                        <td>Name3</td>
                                                        <td>30x60</td>
                                                        <td>Light</td>
                                                        <td>3</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="month2">
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Rank</th>
                                                        <th>Item Code</th>
                                                        <th>Item Name</th>
                                                        <th>Size</th>
                                                        <th>Tonality</th>
                                                        <th>Sales (PCS)</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>AK6004C</td>
                                                        <td>Superblack 3060</td>
                                                        <td>30x60</td>
                                                        <td>Dark</td>
                                                        <td>0</td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>AK5236A</td>
                                                        <td>Stone Gray 520</td>
                                                        <td>30x60</td>
                                                        <td>Light</td>
                                                        <td>0</td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td>GY5588A</td>
                                                        <td>Name1</td>
                                                        <td>30x60</td>
                                                        <td>Light</td>
                                                        <td>1</td>
                                                    </tr>
                                                    <tr>
                                                        <td>4</td>
                                                        <td>AK5225A</td>
                                                        <td>Name2</td>
                                                        <td>30x60</td>
                                                        <td>Light</td>
                                                        <td>2</td>
                                                    </tr>
                                                    <tr>
                                                        <td>5</td>
                                                        <td>A45225B</td>
                                                        <td>Name3</td>
                                                        <td>30x60</td>
                                                        <td>Light</td>
                                                        <td>3</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="year2">
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Rank</th>
                                                        <th>Item Code</th>
                                                        <th>Item Name</th>
                                                        <th>Size</th>
                                                        <th>Tonality</th>
                                                        <th>Sales (PCS)</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>AK6004C</td>
                                                        <td>Superblack 3060</td>
                                                        <td>30x60</td>
                                                        <td>Dark</td>
                                                        <td>0</td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>AK5236A</td>
                                                        <td>Stone Gray 520</td>
                                                        <td>30x60</td>
                                                        <td>Light</td>
                                                        <td>0</td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td>GY5588A</td>
                                                        <td>Name1</td>
                                                        <td>30x60</td>
                                                        <td>Light</td>
                                                        <td>1</td>
                                                    </tr>
                                                    <tr>
                                                        <td>4</td>
                                                        <td>AK5225A</td>
                                                        <td>Name2</td>
                                                        <td>30x60</td>
                                                        <td>Light</td>
                                                        <td>2</td>
                                                    </tr>
                                                    <tr>
                                                        <td>5</td>
                                                        <td>A45225B</td>
                                                        <td>Name3</td>
                                                        <td>30x60</td>
                                                        <td>Light</td>
                                                        <td>3</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                </div>





            </div>
            <!-- /.container-fluid -->